.artichron.application.sheet.actor.hero {
  .encumbrance {
    --encumbrance-height: 1.25rem;
    position: fixed;
    position-anchor: --sheet-window-content;
    bottom: anchor(bottom);
    left: anchor(left);
    right: anchor(right);
    height: var(--encumbrance-height);
    border-radius: .5rem;
    border: 1px var(--artichron-color-umber) solid;
    overflow: hidden;
    margin: 0.5rem 1rem;
    align-items: center;
    backdrop-filter: blur(4px);
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      width: var(--bar-width);
      background: linear-gradient(
        to right,
        var(--artichron-color-encumbrance-low) 15%,
        var(--artichron-color-encumbrance-mid) 50%,
        var(--artichron-color-encumbrance-high) 100%
      )
    }
  }

  .equipment {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 5px;

    .equipment-item {
      border-radius: 5px;
      overflow: hidden;
      padding: 2px;
      aspect-ratio: 1;
    }

    .unequipped {
      --icon-fill: rgba(100, 100, 100, 0.5);
    }
  }
}
