.artichron.application.sheet.actor.hero {
  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0.5rem;

    .skill-entry {
      aspect-ratio: 1;
      display: flex;

      .skill {
        display: flex;
        flex-direction: column;
        width: 100%;

        &:hover {
          backdrop-filter: blur(0);
        }
      }
    }
  }

  .encumbrance {
    position: fixed;
    position-anchor: --sheet-window-content;
    top: anchor(bottom);
    left: anchor(left);
    right: anchor(right);
    height: calc(0.75 * var(--header-height));
    transition: height 200ms ease;
    border-radius: 0 0 10px 10px;
    border: 3px hsl(from var(--artichron-color-gold) 0 s l / 1) solid;
    border-top: none;
    overflow: hidden;
    margin: 0 1rem 0;
    background-color: hsl(from var(--artichron-color-gold) h s l / 0.5);
    display: flex;
    align-items: center;

    &:hover {
      height: var(--header-height);
    }

    .values {
      color: white;
      text-align: center;
      width: 100%;
    }

    .bar {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: linear-gradient(
        to right,
        rgb(25, 25, 0) 15%,
        rgb(100, 60, 0) 50%,
        rgb(200, 120, 0) 100%
      )
    }
  }
}
