.artichron.application.sheet.merchant {
  --min-width: 500px;
  --min-height: 750px;

  .header {
    .title {
      text-align: center;
      border-bottom: 1px solid var(--artichron-color-gold);
      margin: 0;
    }
    .subtitle {
      text-align: center;
      margin: 0;
      margin-top: 1rem;
      font-size: 18px;
      font-style: italic;
    }
  }

  .tab {
    height: 100%;

    .document-list {
      height: 100%;
    }
  }
}
