.artichron.application.sheet.party {
  --min-width: 700px;
  --min-height: 800px;

  /* Left-side members list */
  [data-application-part=health] {
    --height: calc(min(4rem, 100% / var(--units)));
    position: fixed;
    position-anchor: --sheet-window-content;
    right: anchor(left);
    top: anchor(top);
    bottom: anchor(bottom);
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: .5rem;
    align-items: flex-end;
    transition: opacity 350ms ease;
    pointer-events: none;

    :has([data-application-part=members].active) & {
      opacity: 0;
    }

    .member {
      pointer-events: all;
      padding: 5px;
      padding-right: 0;
      border-radius: 50% 0 0 50%;
      background: black;
      max-height: var(--height);
      height: 100%;

      .health {
        position: relative;
        height: 100%;
        aspect-ratio: 1;

        .avatar {
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          position: absolute;
          padding: 3px;
          aspect-ratio: 1;
        }

        .health-gauge {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background:
            radial-gradient(closest-side, black calc(100% - 3px), transparent 80% 100%),
            conic-gradient(rgb(180, 20, 0) 0 var(--health-pct), rgba(255, 0, 0, 0.2) 0 95%);
        }
      }
    }
  }

  [data-application-part=members] {
    .members {
      display: grid;
      gap: 1rem;

      .member {
        display: grid;
        grid-template-columns: 4rem 1fr 0fr;
        gap: 1rem;

        .avatar {
          padding: 2px;

          img {
            aspect-ratio: 1;
            object-fit: cover;
            box-sizing: content-box;

            &[data-action] {
              cursor: var(--cursor-pointer);
            }
          }
        }

        .attributes {
          display: grid;
          grid-template-columns: 1fr 0fr;

          .name {
            font-size: 24px;
          }

          .currency {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1.5rem;

            artichron-icon {
              aspect-ratio: 1;
              width: 100%;
            }
          }

          .bars {
            height: 0.75rem;
            grid-column-start: 1;
            grid-column-end: 3;

            .hp {
              position: relative;
              height: 100%;
              border-radius: 3px;
              box-shadow: 0 0 2px var(--artichron-color-blue);
              overflow: hidden;

              &::before {
                position: absolute;
                content: "";
                inset: 0;
                right: calc(100% - var(--hp));
                background: linear-gradient(to right, var(--artichron-color-health-low) 0%, var(--artichron-color-health-mid) 50%, var(--artichron-color-health-high) 100%);
              }
            }
          }
        }
      }
    }
  }

  .clocks {
    .clock {
      gap: 1rem;
      display: grid;
      grid-template-columns: 0fr 1fr;

      .control {
        display: inherit;
        grid-template-columns: 1fr 0fr;
        height: 10rem;

        .controls {
          display: grid;
          gap: 0.5rem;
          align-content: center;
        }
      }
    }
  }
}
