.artichron.application.sheet.party {
  --min-width: 700px;
  --min-height: 800px;

  :is(.awards, .funds) .form-group {
    label {
      display: flex;
      align-items: center;

      img.icon {
        height: calc(var(--input-height) * 0.7);
        border: none;
        filter: drop-shadow(0 0 1px rgba(0, 153, 255, 0.664));
        margin-left: 0.5rem;
      }
    }
  }

  /* Left-side members list */
  [data-application-part=health] {
    --height: calc(min(4rem, 100% / var(--units)));
    position: fixed;
    position-anchor: --sheet-window-content;
    right: anchor(left);
    top: anchor(top);
    bottom: anchor(bottom);
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: .5rem;
    align-items: flex-end;
    transition: opacity 350ms ease;
    pointer-events: none;

    :has([data-application-part=members].active) & {
      opacity: 0;
    }

    .member {
      pointer-events: all;
      padding: 5px;
      padding-right: 0;
      border-radius: 50% 0 0 50%;
      background: black;
      max-height: var(--height);
      height: 100%;

      .health {
        position: relative;
        height: 100%;
        aspect-ratio: 1;

        .avatar {
          object-fit: contain;
          object-position: center;
          border-radius: 50%;
          position: absolute;
          padding: 1ch;
        }

        .health-gauge {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background:
            radial-gradient(closest-side, black calc(100% - 3px), transparent 80% 100%),
            conic-gradient(rgb(180, 20, 0) 0 var(--health-pct), rgba(255, 0, 0, 0.2) 0 95%);
        }
      }
    }
  }

  .members {
    padding: 0 1rem;
    gap: 1rem;

    .member {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;

      &:not(:last-child) { margin-bottom: 2rem; }

      .avatar {
        flex: 0 0 4rem;
        height: 4rem;
        object-fit: cover;
        object-position: center top;
        border-radius: 50%;
        border: 2px inset hsl(from var(--artichron-color-border) h s l / 0.85);

        &[data-action] {
          cursor: var(--cursor-pointer);
        }
      }

      .center {
        flex: 1;
        display: grid;
        grid-template-rows: 3fr 1fr;
        position: relative;

        .name {
          font-size: 24px;
          align-self: end;
          padding-bottom: 0.2rem;
        }

        .currency {
          position: absolute;
          bottom: 25%;
          right: 0;
          width: 4rem;
          height: 1.5rem;
          align-items: center;
          justify-content: center;
          padding: 0;
          margin: 0 0 0.2rem 0;
          display: flex;
          gap: 2px;

          & input {
            width: 3rem;
            font-size: 12px;
            height: 100%;
          }

          .icon {
            width: 1rem;
            border: none;
            height: 90%;
          }
        }

        .bars {
          gap: 0.3rem;
          display: flex;
          flex-direction: column;

          .hp {
            position: relative;
            box-shadow: 0 0 2px white;
            height: 0.5rem;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 3px;

            &::before {
              z-index: -1;
              position: absolute;
              content: "";
              inset: 0;
              right: calc(100% - var(--hp));
              background: linear-gradient(to right, var(--artichron-color-health-low) 0%, var(--artichron-color-health-mid) 50%, var(--artichron-color-health-high) 100%);
              border-radius: inherit;
            }
          }

          .pools {
            width: 100%;
            display: flex;
            gap: 0.2rem;
            left: 0;
            right: 0;
            height: 0.2rem;

            .health, .stamina, .mana, .danger {
              position: relative;
              flex: 1;
              height: 100%;
              box-shadow: 0 0 1px white;

              &::before {
                z-index: -1;
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                border-radius: 3px;
                height: 100%;
              }
            }

            .health::before {
              right: calc(100% - var(--health));
              background: var(--artichron-color-pool-health);
            }
            .stamina::before {
              right: calc(100% - var(--stamina));
              background: var(--artichron-color-pool-stamina);
            }
            .mana::before {
              right: calc(100% - var(--mana));
              background: var(--artichron-color-pool-mana);
            }
            .danger::before {
              right: calc(100% - var(--danger));
              background: var(--artichron-color-pool-danger);
            }
          }
        }
      }

      .controls {
        min-width: calc(2rem + 2px);

        & button {
          width: 2rem;
          height: 2rem;
        }

        .fa-solid {
          margin: 0;
        }
      }
    }
  }

  .clocks {
    .clock {
      gap: 1rem;
      display: grid;
      grid-template-columns: 0fr 1fr;

      .control {
        display: inherit;
        grid-template-columns: 1fr 0fr;
        height: 10rem;

        .controls {
          display: grid;
          gap: 0.5rem;
          align-content: center;
        }
      }
    }
  }
}
