.artichron.application.sheet.actor {
  --min-height: 320px;
  --min-width: 400px;

  &:not(.minimizing, .minimized, .maximizing) {
    min-height: var(--min-height);
    min-width: var(--min-width);
  }

  .health-bar {
    position: fixed;
    position-anchor: --sheet-window-content;
    right: anchor(left);
    top: anchor(top);
    bottom: anchor(bottom);
    width: 40px;
    transition: width 200ms ease;
    box-shadow: -2px 2px 5px black;
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
    border-right: none;
    place-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 1rem 0;

    &:has(:focus) {
      width: 75px;
      transition-duration: 0s;
    }
    &:hover {
      width: 75px;
    }

    input {
      text-align: center;
      width: calc(100% - 4px);
      background-color: transparent;
      color: initial;
      border: 1px solid hsl(from black h s l / 0.35);
      padding: 0;
      margin: 0;
    }

    .health-fill {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: calc(100% - var(--health-bar-pct));
      background: linear-gradient(
        to top,
        var(--artichron-color-health-low) 15%,
        var(--artichron-color-health-mid) 50%,
        var(--artichron-color-health-high) 100%
      );
      z-index: -1;
    }

    .control {
      position: absolute;
      top: 0;
      right: 0;
      padding: 4px;
    }
  }
}
