<section>
  <p>{{localize "ARTICHRON.RECOVERY.chatMessageContent"}}</p>
  <button type="button" data-action="participateRecovery">
    <i class="fa-solid fa-tent-arrow-turn-left" inert></i>
    <span>{{localize "ARTICHRON.RECOVERY.chatMessageButton"}}</span>
  </button>
</section>
