<div class="tab details {{tabs.details.cssClass}}" data-group="primary" data-tab="details">
  <fieldset>
    {{formGroup fields.value value=pseudoDocument.value placeholder="0" name="value"}}
    {{formGroup fields.max value=source.max placeholder="8" name="max"}}
  </fieldset>
  {{formInput fields.description value=source.description enriched=ctx.enriched height=300 name="description" toggled=true}}
</div>
