<fieldset>
  {{~#if ctx.show}}
  <legend>{{ctx.legend}}</legend>
  <p class="healing">
    <span class="formula">{{ctx.formula}}</span>
  </p>

  {{formGroup ctx.field name="healing.increase" localize=true}}
  {{/if~}}
</fieldset>
