/* ------------------ */
/*    ACTOR SHEETS    */
/* ------------------ */
.artichron.sheet.actor {
  min-width: 500px;
  max-width: 500px;
  min-height: 500px;
}
.artichron.sheet.actor .darken {
  background-color: rgba(88, 88, 88, 0.15);
  padding: 0;
}
.artichron.sheet.actor .tab.attributes {}
.artichron.sheet.actor .tab section {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.artichron.sheet.actor .tab.attributes section.pools {}
.artichron.sheet.actor .tab.attributes section.pools .pool-rolls {
  display: flex;
  justify-content: space-around;
}
.artichron.sheet.actor .tab.attributes section.pools .pool-rolls .pool {
  padding: 1em;
  transition: background-size 200ms;
  background-size: 0;
  background-repeat: no-repeat;
  background-position-x: center;
}
.artichron.sheet.actor .tab.attributes section.pools .pool-rolls .pool:hover {
  background-size: 100%;
}
.artichron.sheet.actor .tab.attributes .pool-rolls .pool[data-pool=health] {
  background: radial-gradient(circle, rgb(255, 77, 77) 0%, rgba(0, 0, 0, 0) 75%);
}
.artichron.sheet.actor .tab.attributes .pool-rolls .pool[data-pool=stamina] {
  background: radial-gradient(circle, rgb(0, 255, 0) 0%, rgba(0, 0, 0, 0) 75%);
}
.artichron.sheet.actor .tab.attributes .pool-rolls .pool[data-pool=mana] {
  background: radial-gradient(circle, rgb(73, 73, 255) 0%, rgba(0, 0, 0, 0) 75%);
}
.artichron.sheet.actor .tab.attributes section.pools .pool-rolls .pool .die {
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bruno Ace";
  min-width: var(--artichron-pool-die-size);
  max-width: var(--artichron-pool-die-size);
  min-height: var(--artichron-pool-die-size);
  max-height: var(--artichron-pool-die-size);
}
.artichron.sheet.actor .tab.attributes section.health {
  height: 100%;
}
.artichron.sheet.actor .counter.health {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(255, 0, 0, 0.1);
  border: 3px inset black;
  margin: 0;
  margin-right: 3px;
  height: 100%;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
}
.artichron.sheet.actor .counter.health .health-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(130, 0, 0, 0.6) 0%, rgba(198, 0, 0, 0.5) 81%, rgba(255, 0, 0, 0.4) 100%);
  border-radius: 5px;
  pointer-events: none;
}
.artichron.sheet.actor .counter .health-values {
  border-radius: calc(2 * var(--form-field-height));
  height: calc(4 * var(--form-field-height));
  width: calc(2 * var(--form-field-height));
  border: 1px solid var(--artichron-theme-light);
  font-family: "Trebuchet MS";
  color: var(--artichron-label);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: brightness(2);
}
.artichron.sheet.actor .counter .counter-value {
  text-align: center;
  border: none;
}
.artichron.sheet.actor .counter .counter-max {
  font-weight: bold;
}
.artichron.sheet.actor section .section-header {
  position: relative;
  font-family: "Modesto Condensed";
  font-size: 20px;
  background-color: var(--artichron-theme-light);
  text-align: center;
}
.artichron.sheet.actor section:hover > .section-header .edit[data-action] {
  display: block;
}
.artichron.sheet.actor .edit[data-action] {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  padding: 4px;
  font-size: 12px;
}
.artichron.sheet.actor .attributes-sections {
  display: flex;
}
.artichron.sheet.actor .attributes-sections .left-pane {
  flex: none;
}
.artichron.sheet.actor .attributes-sections .center-pane {
  flex: 1;
}
.artichron.sheet.actor .center-pane section {
  border-radius: 10px;
  overflow: hidden;
  border: 1px inset;
}
.artichron.sheet.actor .center-pane section:not(:last-child) {
  margin-bottom: 5px;
}
.artichron.sheet.actor .tab.attributes section.resistances {}
.artichron.sheet.actor .tab.attributes .resistance-bars {
  display: flex;
  gap: 10px;
  border-top: 0;
}
.artichron.sheet.actor .tab.attributes .resistance {
  font-size: 25px;
  line-height: 20px;
  margin: 3px 0;
  font-family: "Calibri";
  flex: 1;
  text-align: center;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artichron.sheet.actor .tab.attributes .resistance .total {
  color: rgb(97, 97, 97);
  margin: 5px 0;
}
.artichron.sheet.actor .tab.attributes .resistance .fa-solid {
  text-shadow: 0 0 3px black;
  min-width: 1em;
  max-width: 1em;
}

/* ------------------ */
/*     HERO SHEETS    */
/* ------------------ */
.artichron.sheet.actor.hero .header-fields {
  display: flex;
}
.artichron.sheet.actor.hero .header-fields input {
  height: 2em;
  font-size: 25px;
  font-family: "Bruno Ace";
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 25px;
  color: var(--artichron-theme-dark);
  text-shadow: 0 0 1px var(--artichron-label);
  background-color: var(--artichron-theme-light);
  border: 4px groove var(--artichron-label);
  border-left-width: 40px;
  border-right-width: 40px;
  transition: 200ms;
  margin: 0 1em;
}
.artichron.sheet.actor.hero .header-fields input:focus {
  margin: 0 0.25em;
  box-shadow: none;
  border-left-width: 4px;
  border-right-width: 4px;
}
.artichron.sheet.actor.hero .tab.equipment.active {
  display: flex;
  flex-direction: column;
}
.artichron.sheet.actor.hero section.equipped {
  flex: 1;
}
.artichron.sheet.actor.hero .equipped-items .backdrop {
  background-size: auto 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.artichron.sheet.actor.hero .equipped-items .backdrop.image {
  background-repeat: no-repeat;
  opacity: 0.5;
  background-position-y: center;
  background-position-x: center;
  transition: filter 200ms;
}
.artichron.sheet.actor.hero .equipped-items:has([data-manage=img]:hover) .backdrop.image {
  filter: drop-shadow(0 0 5px var(--artichron-theme-dark));
}
.artichron.sheet.actor.hero .equipped-items [data-manage=img] {
  top: 0;
  bottom: 0;
  display: block;
  left: calc(100px + var(--equipment-margin));
  right: calc(100px + var(--equipment-margin));
  cursor: pointer;
  padding: 0;
  margin: 10px;
}
.artichron.sheet.actor.hero .equipped-items .backdrop.border {
  border: 5px groove var(--artichron-theme-dark);
  margin: 5px 1px;
  border-radius: 10px;
  filter: blur(1px);
}
.artichron.sheet.actor.hero .equipped-items {
  position: relative;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100%;
  overflow: hidden overlay;
  flex-direction: column;
  min-height: calc(400px + 8 * var(--equipment-margin));
}
.artichron.sheet.actor.hero .equipped-items .equipped {
  position: absolute;
}
.artichron.sheet.actor.hero .equipped-items .equipped-item,
.artichron.sheet.actor.hero .equipped-items .equipped img {
  height: 100px;
  width: 100px;
}
.artichron.sheet.actor.hero .equipped-items .equipped img {
  border: none;
  border-radius: 50px;
  transition: 150ms;
  cursor: pointer;
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon.disabled {
  pointer-events: none;
  filter: grayscale(30%) opacity(70%);
}
.artichron.sheet.actor.hero .equipped-items:has(.equipped.weapon.main:hover) .second.disabled img {
  border-radius: 15px;
  scale: 1.1;
}
.artichron.sheet.actor.hero .equipped-items .equipped.empty img {
  filter: grayscale(100%) opacity(25%);
}
.artichron.sheet.actor.hero .equipped-items .equipped.empty:hover img {
  filter: grayscale(100%) opacity(50%);
  border-radius: 15px;
}
.artichron.sheet.actor.hero .equipped-items .equipped:hover img {
  border-radius: 10px;
  filter: drop-shadow(0 0 5px var(--color-shadow-primary));
  scale: 1.1;
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon,
.artichron.sheet.actor.hero .equipped-items .equipped.arms,
.artichron.sheet.actor.hero .equipped-items .equipped.accessory {
  right: var(--equipment-margin);
}
.artichron.sheet.actor.hero .equipped-items .equipped.head,
.artichron.sheet.actor.hero .equipped-items .equipped.chest,
.artichron.sheet.actor.hero .equipped-items .equipped.legs,
.artichron.sheet.actor.hero .equipped-items .equipped.boots {
  left: var(--equipment-margin);
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon.main,
.artichron.sheet.actor.hero .equipped-items .equipped.head {
  top: var(--equipment-margin);
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon.second,
.artichron.sheet.actor.hero .equipped-items .equipped.chest {
  top: calc(100px + 3 * var(--equipment-margin));
}
.artichron.sheet.actor.hero .equipped-items .equipped.arms,
.artichron.sheet.actor.hero .equipped-items .equipped.legs {
  top: calc(200px + 5 * var(--equipment-margin));
}
.artichron.sheet.actor.hero .equipped-items .equipped.boots,
.artichron.sheet.actor.hero .equipped-items .equipped.accessory {
  top: calc(300px + 7 * var(--equipment-margin));
}
.artichron.sheet.actor.hero .equipped-item #context-menu {
  top: -10px;
  left: -10px;
  min-width: calc(100% + 20px);
  max-width: calc(100% + 20px);
}
.artichron.sheet.actor.hero .equipped-item #context-menu .context-items {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.artichron.sheet.actor.hero .equipped-items .equipped:hover .expand-out {
  width: 215px;
}
.artichron.sheet.actor.hero .equipped-items .equipped .expand-out {
  position: absolute;
  top: -5px;
  bottom: -5px;
  width: 0;
  transition: 200ms;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 1);
  color: var(--artichron-theme-bright);
  overflow: hidden auto;
}
.artichron.sheet.actor.hero .equipped-items .head .expand-out,
.artichron.sheet.actor.hero .equipped-items .chest .expand-out,
.artichron.sheet.actor.hero .equipped-items .legs .expand-out,
.artichron.sheet.actor.hero .equipped-items .boots .expand-out {
  left: calc(100% + 10px);
}
.artichron.sheet.actor.hero .equipped-items .main .expand-out,
.artichron.sheet.actor.hero .equipped-items .second .expand-out,
.artichron.sheet.actor.hero .equipped-items .arms .expand-out,
.artichron.sheet.actor.hero .equipped-items .accessory .expand-out {
  right: calc(100% + 10px);
}
.artichron.sheet.actor.hero .equipped-items .expand-out .content {
  margin: 5px 10px;
  width: 195px;
}
/* Inventory */
.artichron.sheet .inventory-section,
.artichron.sheet .effects-section {
  overflow: hidden;
}
.artichron.sheet .items-list-header {
  text-align: center;
  line-height: 16px;
  font-family: "Bruno Ace";
  background-color: var(--artichron-theme-dark);
  margin: 0;
  padding: 1px 0;
  color: var(--artichron-theme-bright);
  font-size: 10px;
}
.artichron.sheet .items-list {
  overflow: hidden auto;
  max-height: 600px;
}
.artichron.sheet .inventory-section .inventory-item,
.artichron.sheet .effects-section .effects-item {
  border-bottom: 2px groove;
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
  color: #474747;
  gap: 10px;
}
.artichron.sheet .inventory-section .inventory-item:nth-child(odd),
.artichron.sheet .effects-section .effects-item:nth-child(odd) {
  background-color: #d35ee21f;
}
.artichron.sheet .inventory-section .inventory-item .item-name,
.artichron.sheet .effects-section .effects-item .item-name {
  font-size: 14px;
  font-family: "Bruno Ace";
  padding: 2px 0;
  flex: 1;
}
.artichron.sheet .inventory-section .inventory-item .item-controls,
.artichron.sheet .effects-section .effects-item .item-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}
.artichron.sheet .inventory-section .inventory-item .item-controls .item-control,
.artichron.sheet .effects-section .effects-item .item-controls .item-control {}

.artichron.sheet.actor.hero section.favorites {}
.artichron.sheet.actor.hero section.favorites .favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3px;
  column-gap: 3px;
  padding: 3px;
  min-height: 100px;
}
.artichron.sheet.actor.hero section.favorites .favorites::after {
  content: "";
  flex: auto;
  flex-basis: inherit;
}
.artichron.sheet.actor.hero .favorites .favorite {
  cursor: pointer;
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  border-radius: 10px;
  overflow: hidden;
}
.artichron.sheet.actor.hero .favorites .favorite img {
  border: none;
}

.artichron.sheet.actor.hero section.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 40px;
  align-items: center;
}
.artichron.sheet.actor.hero section.controls .control {
  color: var(--artichron-label);
  font-family: "Modesto Condensed";
  font-size: 18px;
  border: 2px outset;
  padding: 4px;
  transition: border-style 2000ms;
}
.artichron.sheet.actor.hero section.controls .control:active {
  border: 2px inset;
}
.artichron.sheet.actor .encumbrance {
  position: relative;
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--artichron-theme-light);
  border-width: 1px 2px;
  box-shadow: 0 0 2px black inset;
  background-color: rgba(0, 0, 0, 0.25);
}
.artichron.sheet.actor .encumbrance-values {
  font-size: 14px;
  font-family: "Modesto Condensed";
  z-index: 1;
  color: var(--artichron-label);
}
.artichron.sheet.actor .encumbrance-bar {
  position: absolute;
  left: 0;
  top: 1px;
  bottom: 1px;
  background-color: var(--artichron-theme-bright);
}
.artichron.sheet.actor .inventory-item .item-usage,
.artichron.sheet.actor .inventory-item .item-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.artichron.sheet.actor .inventory-item .sep {
  margin-left: 2px;
}

/* ------------------- */
/*      CONSTANTS      */
/* ------------------- */
:root {
  --color-shadow-primary: rgb(0, 162, 255);
  --color-border-highlight-alt: rgb(0, 0, 255);
  --color-border-highlight: rgb(0, 100, 255);
  --color-shadow-highlight: rgb(0, 100, 255);
  --mana-filter: sepia(1) hue-rotate(180deg) drop-shadow(0 0 1px blue);
  --health-filter: sepia(1) hue-rotate(270deg) drop-shadow(0 0 1px red);
  --stamina-filter: sepia(1) hue-rotate(90deg) drop-shadow(0 0 1px green);
  --artichron-theme-dark: rgba(0, 0, 255, 0.6);
  --artichron-theme-light: rgba(0, 0, 255, 0.2);
  --artichron-label: rgba(0, 0, 150, 0.9);
  --equipment-margin: 25px;
  --artichron-theme-bright: rgb(222, 225, 255);
  --artichron-pool-die-size: 100px;
}
.system-artichron fieldset:has(:focus) {
  border-color: var(--color-shadow-primary);
}
.system-artichron fieldset {
  border-radius: 5px;
  border-width: 2px;
}
.active-effect-sheet .editor {
  height: 200px;
  border-bottom: 2px groove;
}
.system-artichron fieldset .form-group input[type=text],
.system-artichron fieldset .form-group input[type=number] {
  flex: 2;
}
.system-artichron fieldset .form-group select {
  flex: 1;
}
.system-artichron .form-group input[type=checkbox] {
  flex: none;
}
.app form label,
.app form select,
.app form input[type=text],
.app form input[type=number] {
  height: calc(0.85 * var(--form-field-height));
  border-radius: 5px;
}
.system-artichron h1,
.system-artichron h2,
.system-artichron h3,
.system-artichron h4 {
  margin: 0;
}
.system-artichron form .form-group > A,
.system-artichron form .form-group > .fa-solid {
  flex: 0 0 24px;
  text-align: center;
}
.artichron.sheet nav.tabs {
  gap: 2px;
  margin-bottom: 0;
  border: none;
}
.artichron.sheet nav.tabs .item {
  font-family: "Modesto Condensed";
  font-size: 18px;
  padding: 1px 0;
  border: 1px solid var(--artichron-theme-light);
  border-bottom: 3px solid var(--artichron-theme-light);
  flex: 1;
  background-color: var(--artichron-theme-light);
  border-radius: 10px 10px 0 0;
  margin: 2px 0 0 0;
  transition: background-color 100ms, color 100ms;
}
.artichron.sheet nav.tabs .item.active {
  background-color: var(--artichron-theme-dark);
  color: var(--artichron-theme-bright);
}
.artichron.sheet nav.tabs .item.inventory-tab.active,
.artichron.sheet nav.tabs .item.effects-tab.active {
  border-color: rgba(0, 0, 0, 0);
}
.system-artichron .sheet.actor .editor,
.system-artichron .sheet.item .editor {
  height: 100%;
}
.system-artichron .window-header {
  background-color: var(--artichron-theme-light);
  border-radius: 10px 10px 0 0 ;
}
.artichron .window-content {
  border-radius: 0 0 10px 10px;
}
.artichron.app.opacity {
  transition: opacity 250ms;
}
.artichron.app.opacity:not(:hover) {
  opacity: 0.1;
}
.artichron.app .header-button.control.opacity i::before {
  content: "\f205";
}
.artichron.app.opacity .header-button.control.opacity i::before {
  content: "\f204";
}
.artichron .rollable:hover {
  cursor: pointer;
  text-shadow: 0 0 5px var(--color-shadow-primary);
}
.artichron.sheet form {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.artichron.sheet form .form-group {
  margin: 0 5px;
}
.artichron form .form-group label {
  white-space: nowrap;
  color: var(--artichron-label);
  font-weight: bold;
}
.artichron form .form-group label.checkbox {
  flex: 0;
}
.artichron form input.tiny {
  max-width: 2em;
  max-height: calc(min(2em, 100% - 2px));
  aspect-ratio: 1/1;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 0;
}
.artichron form .form-group .sep {
  color: gray;
  white-space: nowrap;
  flex: 0 0 10px;
  text-align: center;
  margin: 0 4px;
}
.artichron .sheet-body {
  overflow: hidden;
  height: 100%;
  margin-top: 4px;
}

/* Damage Rolls */
.artichron.damage-rolls {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.artichron.damage-rolls .damage-roll {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.artichron.damage-rolls .damage-roll .damage-properties,
.artichron.apply-damage .damage-properties {
  background-color: var(--artichron-theme-light);
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  border: 2px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #fff inset;
  line-height: 24px;
  text-align: center;
  flex: 1;
  position: relative;
}
.artichron.damage-rolls .damage-roll .damage-properties [data-action],
.artichron.apply-damage [data-action] {
  display: none;
  position: absolute;
  width: 1cm;
  height: calc(100% - 2px);
  left: 2px;
  font-size: 11px;
  padding: 0;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}
.artichron.damage-rolls .damage-roll .damage-properties:hover [data-action],
.artichron.artichron.apply-damage:hover [data-action] {
  display: flex;
}
.artichron.damage-rolls .damage-roll .damage-properties .damage-total,
.artichron.apply-damage .damage-properties .damage-total {
  flex: 1;
  font-size: var(--font-size-20);
  font-weight: bold;
}
.artichron.damage-rolls .damage-roll .damage-properties .damage-type,
.artichron.apply-damage .damage-properties .damage-type {
  flex: 1;
  font-style: italic;
  filter: drop-shadow(1px 1px 1px black);
}
.artichron.damage-rolls .damage-roll .damage-roll-tooltip {
  flex: 0 0 100%;
  margin-top: 5px;
  display: none;
}
.artichron.damage-rolls .damage-roll .damage-roll-tooltip.expanded {
  display: block;
}
.artichron.damage-rolls .damage-roll .damage-roll-tooltip .tooltip-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  line-height: 24px;
  border-bottom: 1px solid var(--color-text-light-6);
}
.artichron.damage-rolls .damage-roll .damage-roll-tooltip .tooltip-header .tooltip-formula {
  flex: 1;
  display: flex;
  justify-content: center;
}
.artichron.damage-rolls .damage-roll .damage-roll-tooltip .tooltip-header .tooltip-total {
  flex: none;
  white-space: nowrap;
  font-size: var(--font-size-16);
  padding: 0 5px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-text-light-6);
  border-bottom: none;
  border-radius: 3px 3px 0 0;
}
.artichron.damage-rolls .damage-roll .damage-roll-tooltip .damage-rolls {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
  display: flex;
}
.artichron .die,
.artichron .roll {
  min-width: 24px;
  line-height: 24px;
  margin-right: 1px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  font-size: var(--font-size-16);
  color: #000;
  font-weight: bold;
  text-align: center;
  background-image: url(../../../icons/svg/d6-grey.svg);
}
.artichron .die.max,
.artichron .roll.max,
.artichron .die.mana {
  filter: var(--mana-filter);
}
.artichron .die.min,
.artichron .roll.min,
.artichron .die.health {
  filter: var(--health-filter);
}
.artichron .die.stamina {
  filter: var(--stamina-filter);
}
.artichron .die.d2, .artichron .roll.d2 {
  background-image: url(../../../icons/svg/coins.svg);
}
.artichron .die.d4, .artichron .roll.d4 {
  background-image: url(../../../icons/svg/d4-grey.svg);
}
.artichron .die.d3,
.artichron .roll.d3,
.artichron .die.d6,
.artichron .roll.d6 {
  background-image: url(../../../icons/svg/d6-grey.svg);
}
.artichron .die.d8, .artichron .roll.d8 {
  background-image: url(../../../icons/svg/d8-grey.svg);
}
.artichron .die.d5,
.artichron .roll.d5,
.artichron .die.d10,
.artichron .roll.d10 {
  background-image: url(../../../icons/svg/d10-grey.svg);
}
.artichron .die.d12, .artichron .roll.d12 {
  background-image: url(../../../icons/svg/d12-grey.svg);
}
.artichron .die.d20, .artichron .roll.d20 {
  background-image: url(../../../icons/svg/d20-grey.svg);
}
.artichron.apply-damage {
  margin: 5px 0;
  border-top: 2px groove;
  padding-top: 5px;
}

.artichron.sheet.actor .tab,
.artichron.sheet.item .tab {
  height: 100%;
}

/* Common form group styling. */
.artichron .form-group.input-select select {
  flex: 1;
}

.artichron.sheet.item {
  min-width: 400px;
  min-height: 400px;
}
.artichron.sheet.item .action {
  float: right;
  flex: none;
  padding-left: 5px;
  color: gray;
}
.artichron.sheet.item fieldset legend.header {
  font-family: 'Modesto Condensed';
  font-size: 24px;
}
.artichron.sheet.item .form-group.dice-combo input,
.artichron.sheet.item .form-group.dice-combo select {
  flex: 1;
}
.artichron.sheet.item .form-group.item-usage .delta {
  flex: 0 0 40px;
}
.artichron.sheet.item .form-group label:first-child {
  flex: 0 0 40%;
}
.artichron.sheet.item .tab section {
  margin-top: 5px;
}

