<a class="control" data-action="manage" data-manage="defend">
  <i class="fa-solid fa-shield"></i>
  {{localize "ARTICHRON.Defend"}}
</a>

<a class="control" data-action="manage" data-manage="recover">
  <i class="fa-solid fa-heart"></i>
  {{localize "ARTICHRON.Recover"}}
</a>
