<a class="control" data-action="rollDefense">
  <i class="fa-solid fa-shield"></i>
  {{localize "ARTICHRON.Defend"}}
</a>

<a class="control" data-action="recover">
  <i class="fa-solid fa-heart"></i>
  {{localize "ARTICHRON.Recover"}}
</a>
