<header class="section-header">
  {{localize "ARTICHRON.Health"}}
</header>
<div class="counter health">
  <input class="counter-value delta" type="text" name="system.health.value" value="{{system.health.value}}">
  <span class="counter-max">{{system.health.max}}</span>
  <div class="health-bar" style="top: {{context.health.top}}%"></div>
</div>
