<header class="section-header">
  {{localize "ARTICHRON.Health"}}
</header>
{{!--<a class="edit" data-action="toggle-config" data-tooltip="ARTICHRON.EditPools" data-config="pools">
  <i class="fa-solid fa-cog"></i>
</a>--}}
<div class="counter health">
  <input class="counter-value" type="number" name="system.health.value" value="{{system.health.value}}">
  /
  <span class="counter-max">{{system.health.max}}</span>
</div>
