<div class="tab scrollable {{ifThen tabs.description.active 'active' ''}}" data-group="primary" data-tab="description">
  {{formField description.field value=description.value toggled=true enriched=description.enriched localize=true}}
</div>
