<fieldset data-property="resistances">
  <legend class="header">{{localize "ARTICHRON.ResistancePl"}}</legend>

  {{#each context.resistances}}
  <div class="form-group res">
    <label>{{label}}</label>
    <div class="form-fields">
      <input class="value" type="text" name="system.resistances.{{key}}.value" value="{{value}}">
    </div>
  </div>
  {{/each}}
</fieldset>
