<div class="{{tabs.description.tabCssClass}}" data-group="primary" data-tab="description">
  {{formField description.field value=description.value toggled=true enriched=description.enriched localize=true}}
</div>
