<div class="resistances">
  {{#each context.resistances}}
  <div class="resistance" data-type="{{@key}}">
    <div class="icons">
      {{#iterate total}}
      <i class="{{icon}}" style="color: #{{color}}"></i>
      {{/iterate}}
    </div>
    <a data-action="edit-resistance" data-tooltip="ARTICHRON.EditResistance">
      <i class="fa-solid fa-edit"></i>
    </a>
  </div>
  {{/each}}
</div>
