#tooltip.item-tooltip, .locked-tooltip.item-tooltip {
  box-shadow: 0 0 5px 2px var(--artichron-color-tooltip-shadow);
  background-color: var(--artichron-color-tooltip-background);
  min-width: 350px;
  text-align: left;
  gap: 1rem;
  display: grid;
  padding: 1rem;

  .item-banner {
    .title {}

    .subtitle {
      font-style: italic;
      font-size: 12px;
      margin: 0;
    }
  }

  .description {
    overflow: hidden auto;
    min-height: 100px;
    max-height: 300px;
  }

  .requirements {
    & li {
      font-style: italic;

      &.unfulfilled {
        color: var(--artichron-color-tooltip-unfulfilled);
      }
    }
  }
}
