<section class="item-banner">

  <h3 class="title">{{item.name}}</h3>
  <h4 class="subtitle">{{subtitle}}</h4>

</section>

<section class="description">{{{description}}}</section>

{{#if requirements.length}}
<section class="requirements">
  <ul>
    {{#each requirements}}
    <li class="{{#if unfulfilled}} unfulfilled {{/if}}">{{content}}</li>
    {{/each}}
  </ul>
</section>
{{/if}}
