.application.artichron.armor {
  .defenses {
    display: flex;
    flex-direction: row;
    gap: 1px;

    .defense {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      height: 50px;
      justify-content: space-between;
      opacity: 0.3;
      padding-bottom: 4px;

      &.active {
        opacity: 1;
      }

      .total {
        font-size: 22px;
      }

      .fa-solid {
        place-content: end;
        margin: 0;
        padding: 0;
        margin-top: 4px;
      }

      input {
        text-align: center;
        width: calc(100% - 6px);
        transition: width 300ms ease;

        &:focus {
          width: 10rem;
        }
      }
    }
  }
}
