/* Item sheets */
.artichron.application.sheet.item {

  &:not(.maximizing, .minimizing, .minimized) {
    min-height: 450px;
  }

  .tab.scrollable {
    .armor-requirements {
      .form-fields select:first-child { flex: 0 0 100px; }
    }
  }
}

/* -------------------------------------------------- */

/* Activity sheets */
.artichron.application.activity {
  .damage {
    .number, .denomination {
      flex: 2;
    }

    .type {
      flex: 3;
    }
  }
}

/* -------------------------------------------------- */

/* Advancement sheets */
.artichron.application.advancement {
  .item-grant {
    background: none;

    .item-grant-item { width: 100% }
    .item-grant-optional { text-align: center; }
    .item-grant-controls { text-align: center; }

    tbody tr {
      background: none;
    }
  }
}
