/* Item sheets */
.artichron.application.sheet.item {

  &:not(.maximizing, .minimizing, .minimized) {
    min-height: 450px;
  }

  .tab.scrollable {
    .armor-requirements {
      .form-fields select:first-child { flex: 0 0 100px; }
    }
  }

  /* In play mode, a single icon might span the entire width which looks bad. */
  .form-group.defense {
    max-width: 60px;
  }
}

/* -------------------------------------------------- */

/* Advancement sheets */
.artichron.application.advancement {
  .item-grant {
    background: none;

    .item-grant-item { width: 100% }
    .item-grant-optional { text-align: center; }
    .item-grant-controls { text-align: center; }

    tbody tr {
      background: none;
    }
  }
}
