<div class="tab {{tabs.details.cssClass}}" data-group="{{tabs.details.group}}" data-tab="{{tabs.details.id}}">
  {{formInput systemFields.biography.fields.value value=source.system.biography.value enriched=ctx.bio toggled=isPlayMode disabled=isPlayMode classes="prosemirror-full-height"}}
</div>
