<section>
  <h1 class="section-header">{{ctx.label}}</h1>
  <span class="subtitle">{{localize "ARTICHRON.PROGRESSION.PATH_CONFIGURATION.currentPath"}}</span>
  {{#if ctx.image}}<img src="{{ctx.image}}" alt="{{ctx.label}}" class="icon">{{/if}}
</section>
