<section>
  {{#each ctx.members}}
  <div class="glass member {{#if draggable}} draggable {{/if}} {{#if isAssigned}} assigned {{/if}}" data-actor-id="{{actor.id}}" style="--img: url('/{{actor.img}}');"></div>
  {{/each}}
</section>
