<section class="scrollable">
  <fieldset class="avatar" style="background-image: url('{{actor.img}}');">
    <legend>{{actor.name}}</legend>
  </fieldset>
  <fieldset class="stage-area scrollable">
    <legend>Staged</legend>
    <div class="inventory-list">
      {{#each items.staged}}
      {{inventoryItem item enriched=enriched disabled=true}}
      {{/each}}
    </div>
  </fieldset>
</section>
