<fieldset class="stock-area scrollable">
  <legend>Unstaged</legend>
  <div class="inventory-list">
    {{#each items.available}}
    {{inventoryItem item enriched=enriched}}
    {{/each}}
  </div>
</fieldset>
