<section class="standard-form scrollable">
  <fieldset class="avatar" style="background-image: url('{{actor.img}}');">
    <legend>{{actor.name}}</legend>
  </fieldset>
  <fieldset class="stage-area scrollable">
    <legend>Staged</legend>
    <div class="inventory-list">
      {{#each items.staged}}
      {{inventoryItem item expanded=isExpanded enriched=enrichedText disabled=true fusion=false uses=false favorite=false price=true actions=false}}
      {{/each}}
    </div>
  </fieldset>
</section>
