<fieldset class="stock-area scrollable">
  <legend>{{localize "ARTICHRON.SheetTab.Stock"}}</legend>
  <div class="inventory-list compact">
    {{#each items.available}}
    {{inventoryItem item disabled=true}}
    {{/each}}
  </div>
</fieldset>
