<fieldset class="stock-area scrollable">
  <legend>Unstaged</legend>
  <div class="inventory-list">
    {{#each items.available}}
    {{inventoryItem item expanded=isExpanded enriched=enrichedText disabled=true fusion=false uses=false favorite=false price=true actions=false}}
    {{/each}}
  </div>
</fieldset>
