<div class="{{tabs.loot.tabCssClass}} standard-form" data-group="primary" data-tab="loot">
  <fieldset>
    <legend>{{localize "ARTICHRON.SheetTab.Loot"}}</legend>
    <ul class="scrollable">
      {{#each loot}}
      <li class="loot">{{item.name}} ({{quantity}})</li>
      {{/each}}
    </ul>
  </fieldset>
</div>
