<div>
  <fieldset class="health">
    <input type="text" name="system.health.value" class="delta" value="{{health.doc.value}}" placeholder="0">
    <span class="sep">/</span>
    <span>{{health.doc.max}}</span>

    <div class="health-bar" style="--health-bar-pct: {{health.doc.pct}}%"></div>
    <a class="control" data-action="recoverHealth" data-tooltip="ARTICHRON.SheetActions.RecoverHealth">
      <i class="fa-solid fa-heart"></i>
    </a>
  </fieldset>
</div>
