<div class="{{tabs.equipment.tabCssClass}}" data-group="primary" data-tab="equipment">
  <div class="inventory-list">
    {{#each equipment.arsenal}}
    {{inventoryItem item expanded=false disabled=true dataset=dataset}}
    {{/each}}
    {{#each equipment.armor}}
    {{inventoryItem item expanded=false disabled=true dataset=dataset}}
    {{/each}}
  </div>
</div>
