.artichron.path-configuration-dialog {
  [data-application-part=paths] {
    text-align: center;

    .paths {
      gap: 1rem;
      display: flex;
      align-items: center;

      .primary, .secondary {
        flex: 0 0 30%;
        justify-items: center;
      }
    }
  }
}
