/* Skill and activity select dialogs (apps with radio inputs) */
.artichron.application.skill-roll-dialog, .artichron.application.activity-select-dialog {
  .form-fields {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;

    .checkbox {
      cursor: var(--cursor-pointer);
      height: 100%;

      &:has(:checked) {
        text-decoration: underline;

        .image {
          opacity: 1;
        }
      }

      & input[type=radio] {
        display: none;
      }

      .image {
        opacity: 0.4;
        transition: opacity 150ms ease;
      }
    }
  }

  &.activity-select-dialog .description {
    height: 200px;
    overflow-y: auto;

    &:not(.active) {
      display: none;
    }

    &.faint {
      opacity: 0.6;
      font-style: italic;
      font-size: 12px;
    }
  }
}
