<section class="standard-form">
  {{formGroup fields.number value=source.number name="number" placeholder="1"}}
  {{formGroup fields.denomination value=source.denomination name="denomination"}}
  {{formGroup fields.damageTypes value=source.damageTypes name="damageTypes" options=config.DAMAGE_TYPES.optgroups classes="stacked"}}
</section>
