<section class="standard-form">
  {{formGroup fields.number value=(ifThen (eq source.number 1) null source.number) name="number" placeholder="1"}}
  {{formGroup fields.denomination value=source.denomination name="denomination"}}
  {{formGroup fields.type value=source.type name="type" options=ctx.typeOptions}}
  {{formInput fields.options value=source.options type="checkboxes" name="options" options=ctx.optionsOptions}}
</section>
