#token-hud {
  .attribute.bar1 {
    anchor-name: --token-hud-attribute-bar-1;
  }

  [data-action=rollDamage] {
    position-anchor: --token-hud-attribute-bar-1;
    position: fixed;
    pointer-events: all;
    top: anchor(bottom);
    flex: 0 0 var(--control-size);
    margin-top: .3rem;
  }

  .effect-control {
    --icon-fill: var(--artichron-color-tokenhud-inactive);

    &:hover {
      opacity: 1;
    }

    &.active {
      --icon-fill: var(--artichron-color-tokenhud-active);
    }
  }

  .palette.status-effects {
    display: grid;
    grid-template-columns: auto;

    .effects {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
