<footer class="form-footer">
  <button type="submit" data-type="withdraw">
    <i class="fa-solid fa-fw fa-arrow-up-from-bracket fa-rotate-180"></i>
    {{localize "ARTICHRON.PartyFundsDialog.Withdraw"}}
  </button>
  <button type="submit" data-type="deposit">
    <i class="fa-solid fa-fw fa-arrow-up-from-bracket"></i>
    {{localize "ARTICHRON.PartyFundsDialog.Deposit"}}
  </button>
</footer>
