<div class="{{tabs.duration.tabCssClass}}" data-group="primary" data-tab="duration">
  {{formField fields.duration.combat.field value=fields.duration.combat.value localize=true disabled=fields.duration.combat.disabled}}

  {{formField fields.duration.type.field value=fields.duration.type.value localize=true disabled=isPlayMode}}
</div>
