<div class="standard-form scrollable">
  {{#each pools}}
  <fieldset>
    <legend>{{localize label}}</legend>
    {{formGroup spent.field value=spent.value localize=true max=spent.max}}
    {{formGroup faces.field value=faces.value localize=true}}
    {{formGroup max.field value=max.value localize=true}}
  </fieldset>
  {{/each}}
</div>
