progress-clock {
  position: relative;
  border-radius: 50%;
  margin: 1rem;
  box-shadow: 0 0 5px 5px rgba(var(--color), 0.75);
  justify-content: center;
  display: flex;
  align-items: center;
  aspect-ratio: 1;
  flex: 0 0 100%;
  max-height: 250px;

  .slices {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding-top: 50%;
    z-index: -1;
    mask: radial-gradient(farthest-side, #0000 calc(1.5rem), #000 calc(2rem));
  }

  .counter {
    font-size: 16px;
  }
}
