<ul>
  <li class="chat-message message flexcol artichron {{document.type}}" data-message-id="{{document.id}}">
    {{!-- HEADER --}}
    {{> "systems/artichron/templates/chat/partials/header.hbs"}}

    {{!-- CONTENT --}}
    <div class="message-content">
      {{!-- DAMAGE --}}
      {{#if (eq document.type "damage")}}
      {{> "systems/artichron/templates/chat/partials/damage.hbs"}}
      {{/if}}

      {{!-- EFFECT --}}
      {{#if (eq document.type "effect")}}
      {{> "systems/artichron/templates/chat/partials/effect.hbs"}}
      {{/if}}

      {{!-- HEALING --}}
      {{#if (eq document.type "healing")}}
      {{> "systems/artichron/templates/chat/partials/healing.hbs"}}
      {{/if}}

      {{!-- TELEPORT --}}
      {{#if (eq document.type "teleport")}}
      {{> "systems/artichron/templates/chat/partials/teleport.hbs"}}
      {{/if}}
    </div>
  </li>
</ul>
