<div class="targets-wrapper">
  <header class="header">
    <div data-tab="selected" {{#unless targets.size}}class="expanded"{{/unless}}>{{localize "ARTICHRON.ROLL.Selected"}}</div>
    {{#if targets.size}} <div data-tab="targeted" class="expanded">{{localize "ARTICHRON.ROLL.Targeted"}}</div> {{/if}}
  </header>

  <div class="targets-inner-wrapper">
    <div class="targets {{#unless targets.size}}expanded{{/unless}}" data-tab="selected">
      <p class="hint">{{localize "ARTICHRON.ROLL.SelectedNone"}}</p>
    </div>
    {{#if targets.size}}
    <div class="targets expanded" data-tab="targeted"></div>
    {{/if}}
    <button type="button" data-action="applyDamage">{{localize label}}</button>
  </div>
</div>
