<form>
  {{#if effect}}
  <div class="form-group">
    <label class="checkbox">
      <input type="checkbox" name="effect" checked>
      {{localize "ARTICHRON.EffectTransfer"}}
    </label>
  </div>
  {{/if}}
  {{#if usage}}
  <div class="form-group">
    <label class="checkbox">
      <input type="checkbox" name="usage" checked>
      {{localize "ARTICHRON.ConsumeUsage"}}
    </label>
  </div>
  {{/if}}
</form>
