<div class="message-sender">
  <div class="avatar" data-actor-uuid="{{actorUuid}}">
    <img src="{{img}}" alt="{{name}}">
  </div>
  <div class="name">
    <h2 class="title">{{name}}</h2>
  </div>
</div>
