<div class="tab details {{tabs.details.cssClass}}" data-group="primary" data-tab="details">
  <fieldset>
    {{formGroup value.field value=value.value placeholder=value.placeholder name=value.name}}
    {{formGroup max.field value=max.src placeholder=max.placeholder name=max.name}}
  </fieldset>
  {{formInput description.field value=description.src enriched=description.enriched height=300 toggled=true name=description.name}}
</div>
