<div class="tab identity {{tabs.identity.cssClass}}" data-group="primary" data-tab="identity">
  <fieldset>
    {{formGroup name.field value=name.value placeholder=name.placeholder name=name.name}}
    {{formGroup color.field value=color.src placeholder=color.placeholder name=color.name}}
  </fieldset>
</div>
