<div class="tab identity {{tabs.identity.cssClass}}" data-group="primary" data-tab="identity">
  <fieldset>
    {{formGroup name.field value=name.value placeholder=name.placeholder}}
    {{formGroup color.field value=color.source placeholder=color.placeholder}}
  </fieldset>
</div>
