<section class="tab {{tabs.details.cssClass}}" data-group="{{tabs.details.group}}" data-tab="{{tabs.details.id}}">
  {{formGroup systemFields.details.fields.notes value=source.system.details.notes enriched=ctx.notes height="100%" disabled=isPlayMode toggled=isPlayMode classes="prosemirror-full-height"}}
</section>
