<section class="encumbrance">
  <div class="values">{{document.system.encumbrance.value}} / {{document.system.encumbrance.max}}</div>
  <div class="bar" style="width: {{ctx.encumbrance}}%;"></div>
</section>
