.artichron.application.sheet {
  /* Transition control */
  .transitioning .description-wrapper .description {
    overflow: hidden;
  }

  /* Global adjustment of scrollbars. */
  .scrollable {
    scrollbar-gutter: stable;
    --scroll-margin: 0.75rem;
    margin-right: calc(-1 * var(--scroll-margin)) !important;
    padding-right: 5px !important;
  }

  .header {
    --height: 74px;
    --avatar-width: calc(1.25 * var(--height));
    flex: 0 0 var(--height);
    display: grid;
    grid-template-columns: 1fr var(--avatar-width);
    gap: 1rem;

    > * {
      font-size: 20px;
    }

    .avatar {
      object-fit: cover;
      object-position: center top;
      border-radius: 5px;
      border: 2px inset hsl(from var(--artichron-color-border-blue) h s l / 0.85);
      aspect-ratio: 1;

      &:not([data-action]) {
        pointer-events: none;
      }
    }
  }

  .defenses {
    flex-direction: row;
    gap: 1px;

    .defense {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      height: 50px;
      justify-content: space-between;
      opacity: 0.3;
      padding-bottom: 4px;

      &.active {
        opacity: 1;
      }

      .total { font-size: 22px; }
      .fa-solid {
        place-content: end;
        margin: 0;
        padding: 0;
        margin-top: 4px;
      }
      & input {
        text-align: center;
        width: calc(100% - 6px);
        transition: width 300ms ease;

        &:focus { width: 10rem; }
      }
    }
  }

  .document-list {
    display: grid;
    gap: 1ch;

    .document-list-header {
      display: grid;
      grid-template-columns: 1fr 0fr;
      align-items: center;
      background: var(--artichron-header-background-gradient);
      border-bottom: var(--artichron-header-border);
      padding: 0.25rem;
      padding-left: 1ch;
      font-size: 16px;

      &.inactive {
        opacity: 0.5;
      }
    }

    .create-document {
      &::before {
        content: "\f055";
      }
    }

    .document-list-entries {
      display: grid;
      gap: 1ch;

      .entry {
        display: grid;
        height: fit-content;
        justify-content: space-between;
        padding: 1ch;
        grid-template-columns: 3rem 1fr;
        text-align: left;
        position: relative;
        align-items: center;

        .icon {
          height: 2rem;
          width: 2rem;
          object-fit: cover;
        }
        &.inactive .icon { opacity: 0.5; }

        /* A numeric value displayed in the bottom left. */
        .count {
          position: absolute;
          left: 4px;
          bottom: 2px;
        }

        .title {
          font-size: 18px;
        }

        .subtitle {
          color: var(--artichron-color-gold);
          position: absolute;
          right: 1ch;
          bottom: 1ch;

          /* For loot on monster sheets, the subtitle is quantity instead. */
          &.quantity {
            display: grid;
            grid-template-columns: 0fr 1fr 0fr;
            text-align: center;
            align-items: center;
          }
        }
      }
    }

    /* COMPACT VIEW */
    .document-list-entries.compact {
      display: flex;
      flex-wrap: wrap;

      .entry {
        width: fit-content;
        display: flex;
        aspect-ratio: 1;

        .icon {
          height: 3rem;
          width: 3rem;
        }
        .title { display: none }
        .subtitle { display: none }
      }
    }
  }
}


/* Enriched item tooltips */
.item-tooltip {
  .description {
    text-align: left;
  }
}

/* Fieldset stylings */
.artichron.application fieldset {
  .form-group .control {
    aspect-ratio: 1;
    flex: 0;
    place-self: end;

    & i {
      margin: 0;
    }
  }

  & multi-checkbox:disabled label.checkbox:has(input:not(:checked)) {
    opacity: 0.25;
  }
}

/* Skill and activity select dialogs (apps with radio inputs) */
.artichron.application.skills, .artichron.application.activity-select-dialog {
  .form-fields {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .checkbox {
      flex-direction: column;
      height: 100%;
      cursor: var(--cursor-pointer);
      text-align: center;

      &:has(:checked) img {
        opacity: 1;
        outline: 1px solid var(--artichron-color-purple);
      }

      & input[type=radio] {
        display: none;
      }

      & img {
        border: none;
        border-radius: 1rem;
        opacity: 0.35;
        transition: opacity 150ms ease;
      }
    }
  }

  &.skills .form-fields .checkbox img {
    filter: sepia(1) hue-rotate(180deg);
  }

  &.activity-select-dialog .description {
    height: 200px;
    overflow-y: auto;

    &:not(.active) {
      display: none;
    }

    &.faint {
      opacity: 0.6;
      font-style: italic;
      font-size: 12px;
    }
  }
}
