.artichron.application.sheet {
  /* Global adjustment of scrollbars. */
  .scrollable {
    scrollbar-gutter: stable;
    --scroll-margin: 0.75rem;
    margin-right: calc(-1 * var(--scroll-margin)) !important;
    padding-right: 5px !important;
  }

  .header {
    --avatar-width: 8rem;
    display: block;

    .name {
      font-size: 20px;
      text-align: center;
      margin-bottom: 1rem;
    }

    .grid-tags {
      .tag-line {
        display: grid;
        align-items: center;
        gap: 0.5rem;
        grid-template-columns: 5rem 1fr;
        margin-bottom: 0.5rem;

        .label {
          font-weight: bold;
        }

        .tags {
          display: flex;
          gap: inherit;
          flex-wrap: wrap;

          .tag {
            white-space: nowrap;
            height: var(--input-height);
            display: flex;
            gap: .5ch;
            justify-content: center;
          }
        }
      }
    }

    .avatar {
      height: var(--avatar-width);
      width: var(--avatar-width);
      float: right;

      .icon {
        pointer-events: none;
        aspect-ratio: 1;
        object-fit: cover;

        &[data-action] {
          pointer-events: unset;
        }
      }
    }
  }
}

/* Enriched item tooltips */
.item-tooltip {
  .description {
    text-align: left;
  }
}
