<fieldset>
  {{~#if elixirs.show}}
  <legend>{{elixirs.legend}}</legend>
  {{formInput elixirs.field name="elixirs" classes="stacked"}}
  <p class="hint">{{localize elixirs.field.hint}}</p>
  {{/if~}}
</fieldset>
