<fieldset>
  {{~#if defend.show}}
  <legend>{{defend.legend}}</legend>
  <p class="defend">
    <span class="formula">{{defend.formula}}</span>
  </p>

  {{formGroup defend.field name="defend.increase" localize=true}}
  {{/if~}}
</fieldset>
