<fieldset class="indicators">
  <div class="source">
    <img src="{{sourceImage}}" alt="">
  </div>
  <img class="arrow" src="icons/svg/down.svg" alt="">
  <div class="target {{#if targetDisabled}}disabled{{/if}}">
    <img src="{{targetImage}}" alt="">
  </div>
</fieldset>
