<fieldset class="indicators">
  <div class="source"><img src="{{sourceImage}}"></div>
  <img class="arrow" src="icons/svg/down.svg">
  <div class="target {{#if targetDisabled}}disabled{{/if}}"><img src="{{targetImage}}"></div>
</fieldset>
