<div class="selections">
  {{#if ammo.show}}
  {{formField ammo.field dataset=ammo.dataset localize=true sort=true name="ammo"}}
  {{/if}}

  {{#if stamina.show}}
  {{formField stamina.field dataset=stamina.dataset localize=true name="stamina"}}
  {{/if}}
</div>
