/* ------------------ */
/*    ACTOR SHEETS    */
/* ------------------ */
.artichron.sheet.actor {
  min-width: 500px;
  min-height: 500px;
}
.artichron.sheet.actor .tab.attributes {}
.artichron.sheet.actor .tab.attributes section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.artichron.sheet.actor .tab.attributes section.pools {}
.artichron.sheet.actor .tab.attributes section.pools .pool-rolls {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  background-color: rgba(88, 88, 88, 0.15);
  border-radius: 0 0 1em 1em;
  margin: 0 1px 5px 0;
}
.artichron.sheet.actor .tab.attributes section.pools .pool-rolls .pool {
  padding: 1em;
  transition: background-size 200ms;
  background-size: 0;
  background-repeat: no-repeat;
  background-position-x: center;
}
.artichron.sheet.actor .tab.attributes section.pools .pool-rolls .pool:hover {
  background-size: 100%;
}
.artichron.sheet.actor .tab.attributes .pool-rolls .pool[data-pool=health] {
  background: radial-gradient(circle, rgb(255, 77, 77) 0%, rgba(0, 0, 0, 0) 75%);
}
.artichron.sheet.actor .tab.attributes .pool-rolls .pool[data-pool=stamina] {
  background: radial-gradient(circle, rgb(0, 255, 0) 0%, rgba(0, 0, 0, 0) 75%);
}
.artichron.sheet.actor .tab.attributes .pool-rolls .pool[data-pool=mana] {
  background: radial-gradient(circle, rgb(73, 73, 255) 0%, rgba(0, 0, 0, 0) 75%);
}
.artichron.sheet.actor .tab.attributes section.pools .pool-rolls .pool .die {
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bruno Ace";
  min-width: var(--artichron-pool-die-size);
  max-width: var(--artichron-pool-die-size);
  min-height: var(--artichron-pool-die-size);
  max-height: var(--artichron-pool-die-size);
}
.artichron.sheet.actor .tab.attributes section.health {
  height: 100%;
}
.artichron.sheet.actor .counter.health {
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(255, 0, 0, 0.1);
  margin: 0 1px;
  height: 100%;
  flex-direction: column;
}
.artichron.sheet.actor .counter.health .health-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(130, 0, 0, 0.6) 0%, rgba(198, 0, 0, 0.5) 81%, rgba(255, 0, 0, 0.4) 100%);
  border-radius: 1em;
  margin: 3px;
  border: 1px groove #ff000045;
  pointer-events: none;
}
.artichron.sheet.actor .counter .counter-value,
.artichron.sheet.actor .counter .counter-max {
  border-radius: calc(2 * var(--form-field-height));
  height: calc(2 * var(--form-field-height));
  width: calc(2 * var(--form-field-height));
  text-align: center;
  border: 1px solid var(--artichron-theme-dark);
  font-family: 'Trebuchet MS';
  color: var(--artichron-label);
  background-color: var(--artichron-theme-bright);
  z-index: 1;
}
.artichron.sheet.actor .counter .counter-value {
  margin-bottom: 5px;
}
.artichron.sheet.actor .counter .counter-max {
  line-height: calc(2 * var(--form-field-height));
  font-weight: bold;
}
.artichron.sheet.actor section .section-header {
  position: relative;
  font-family: "Modesto Condensed";
  font-size: 20px;
  border: 2px groove;
  border-bottom: 0;
  background-color: var(--artichron-theme-light);
  text-align: center;
}
.artichron.sheet.actor section:hover > .section-header .edit[data-action] {
  display: block;
}
.artichron.sheet.actor .edit[data-action] {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  padding: 4px;
  font-size: 12px;
}
.artichron.sheet.actor .attributes-sections {
  display: flex;
}
.artichron.sheet.actor .tab.attributes section.resistances {}
.artichron.sheet.actor .tab.attributes .resistance-bars {
  display: flex;
  background-color: rgba(88, 88, 88, 0.15);
  gap: 10px;
  padding: 5px;
  border-top: 0;
  margin: 0 1px;
  border-radius: 0 0 1em 1em;
}
.artichron.sheet.actor .tab.attributes .resistance {
  font-size: 20px;
  line-height: 20px;
  margin: 3px 0;
  font-family: "Calibri";
  flex: 1;
  text-align: center;
  padding-bottom: 5px;
}
.artichron.sheet.actor .tab.attributes .resistance .resistance-bar {
  height: 200px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  padding: 5px;
}
.artichron.sheet.actor .tab.attributes .resistance .resistance-bar .total {
  color: rgb(97, 97, 97);
  padding-bottom: 3px;
}
.artichron.sheet.actor .tab.attributes .resistance .resistance-bar .bar {
  width: 100%;
  border-radius: 0.5em;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  position: relative;
  overflow: hidden;
}
.artichron.sheet.actor .tab.attributes .resistance .resistance-bar .bar:before {
  content: '';
  position: absolute;
  top: 0;
  left: -101%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transition: 100ms;
}
.artichron.sheet.actor .tab.attributes .resistance .resistance-bar .bar:hover:before {
  left: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: 250ms;
}
.artichron.sheet.actor .tab.attributes .resistance .fa-solid {
  text-shadow: 0 0 3px black;
  min-width: 1em;
  max-width: 1em;
}

/* ------------------ */
/*     HERO SHEETS    */
/* ------------------ */
.artichron.sheet.actor.hero .tab.equipment.active {
  display: flex;
  flex-direction: column;
}
.artichron.sheet.actor.hero section.equipped {
  flex: 1;
}
.artichron.sheet.actor.hero .equipped-items .backdrop {
  position: absolute;
  background-repeat: no-repeat;
  background-size: auto 100%;
  opacity: 0.25;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position-y: center;
  background-position-x: center;
}
.artichron.sheet.actor.hero .equipped-items {
  position: relative;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100%;
  overflow: hidden overlay;
  flex-direction: column;
  min-height: 650px;
}
.artichron.sheet.actor.hero .equipped-items .equipped {
  position: absolute;
}
.artichron.sheet.actor.hero .equipped-items .equipped img {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 5em;
  transition: 150ms;
  cursor: pointer;
}
.artichron.sheet.actor.hero .equipped-items .equipped .edit {
  background: #b5b8f9;
  border-radius: 5px;
  color: black;
  padding: 3px;
}
.artichron.sheet.actor.hero .equipped-items .equipped:hover .edit {
  display: block;
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon.disabled {
  pointer-events: none;
  filter: grayscale(30%) opacity(70%);
}
.artichron.sheet.actor.hero .equipped-items:has(.equipped.weapon.main:hover) .second.disabled img {
  border-radius: 1.5em;
  scale: 1.1;
}
.artichron.sheet.actor.hero .equipped-items .equipped.empty img {
  filter: grayscale(100%) opacity(25%);
}
.artichron.sheet.actor.hero .equipped-items .equipped.empty:hover img {
  filter: grayscale(100%) opacity(50%);
  border-radius: 1.5em;
}
.artichron.sheet.actor.hero .equipped-items .equipped:hover img {
  border-radius: 0.5em;
  filter: drop-shadow(0 0 5px var(--color-shadow-primary));
  scale: 1.1;
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon,
.artichron.sheet.actor.hero .equipped-items .equipped.arms,
.artichron.sheet.actor.hero .equipped-items .equipped.accessory {
  right: var(--equipment-margin);
}
.artichron.sheet.actor.hero .equipped-items .equipped.head,
.artichron.sheet.actor.hero .equipped-items .equipped.chest,
.artichron.sheet.actor.hero .equipped-items .equipped.legs,
.artichron.sheet.actor.hero .equipped-items .equipped.boots {
  left: var(--equipment-margin);
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon.main,
.artichron.sheet.actor.hero .equipped-items .equipped.head {
  top: 50px;
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon.second,
.artichron.sheet.actor.hero .equipped-items .equipped.chest {
  top: 200px;
}
.artichron.sheet.actor.hero .equipped-items .equipped.arms,
.artichron.sheet.actor.hero .equipped-items .equipped.legs {
  top: 350px;
}
.artichron.sheet.actor.hero .equipped-items .equipped.boots,
.artichron.sheet.actor.hero .equipped-items .equipped.accessory {
  top: 500px;
}
/* Inventory */
.artichron.sheet .inventory-section,
.artichron.sheet .effects-section {
  overflow: hidden;
}
.artichron.sheet .items-list-header {
  text-align: center;
  line-height: 16px;
  font-family: "Bruno Ace";
  background-color: var(--artichron-theme-dark);
  margin: 0;
  padding: 1px 0;
  color: var(--artichron-theme-bright);
  font-size: 10px;
}
.artichron.sheet .items-list {
  overflow: hidden auto;
  max-height: 600px;
}
.artichron.sheet .inventory-section .inventory-item,
.artichron.sheet .effects-section .effects-item {
  border-bottom: 2px groove;
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
  color: #474747;
}
.artichron.sheet .inventory-section .inventory-item:nth-child(odd),
.artichron.sheet .effects-section .effects-item:nth-child(odd) {
  background-color: #d35ee21f;
}
.artichron.sheet .inventory-section .inventory-item .item-name,
.artichron.sheet .effects-section .effects-item .item-name {
  font-size: 14px;
  font-family: "Bruno Ace";
  padding: 2px 0;
}
.artichron.sheet .inventory-section .inventory-item .item-controls,
.artichron.sheet .effects-section .effects-item .item-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}
.artichron.sheet .inventory-section .inventory-item .item-controls .item-control,
.artichron.sheet .effects-section .effects-item .item-controls .item-control {}
