/* ------------------ */
/*    ACTOR SHEETS    */
/* ------------------ */
.artichron.sheet.actor {
  min-width: 500px;
  min-height: 500px;
}
.artichron.sheet.actor .tab.attributes section {
  border: 2px groove;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.artichron.sheet.actor .tab.attributes section.pools {
  flex: 2;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.artichron.sheet.actor .tab.attributes section.pools .pool-rolls {
  position: relative;
}
.artichron.sheet.actor .tab.attributes section.pools .pool-rolls .pool {
  width: 60px;
  max-width: 60px;
  height: 60px;
  max-height: 60px;
  display: block;
  position: absolute;
}
.artichron.sheet.actor .tab.attributes section.pools .pool-rolls .pool[data-pool=health] {
  top: 10px;
  left: calc(50% - 30px);
}
.artichron.sheet.actor .tab.attributes section.pools .pool-rolls .pool[data-pool=stamina] {
  top: 50px;
  left: 15px;
}
.artichron.sheet.actor .tab.attributes section.pools .pool-rolls .pool[data-pool=mana] {
  top: 50px;
  right: 15px;
}
.artichron.sheet.actor .tab.attributes section.pools .pool-rolls .pool .die {
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: "Bruno Ace";
}
.artichron.sheet.actor .tab.attributes section.health {}
.artichron.sheet.actor .counter {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artichron.sheet.actor .counter .counter-value,
.artichron.sheet.actor .counter .counter-max {
  border-radius: calc(2 * var(--form-field-height));
  height: calc(2 * var(--form-field-height));
  width: calc(2 * var(--form-field-height));
  text-align: center;
  border: 1px solid var(--artichron-theme-dark);
  font-family: 'Trebuchet MS';
  color: var(--artichron-label);
}
.artichron.sheet.actor .counter .counter-value {
  margin-right: 5px;
}
.artichron.sheet.actor .counter .counter-max {
  margin-left: 5px;
  line-height: calc(2 * var(--form-field-height));
  font-weight: bold;
}
.artichron.sheet.actor .tab.attributes section.resistances {}
.artichron.sheet.actor .section-header {
  position: relative;
}
.artichron.sheet.actor section:hover > .section-header .edit[data-action] {
  display: block;
}
.artichron.sheet.actor .edit[data-action] {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  padding: 4px;
  font-size: 12px;
}
.artichron.sheet.actor .tab.attributes .resistance {
  display: inherit;
  justify-content: space-evenly;
  font-size: 20px;
  line-height: 20px;
  margin: 3px auto;
  width: 100%;
  font-family: "Calibri";
}
.artichron.sheet.actor .tab.attributes .resistance .fa-solid {
  text-shadow: 0 0 3px black;
  min-width: 1em;
  max-width: 1em;
}

/* ------------------ */
/*     HERO SHEETS    */
/* ------------------ */
.artichron.sheet.actor.hero .tab.equipment.active {
  display: flex;
  flex-direction: column;
}
.artichron.sheet.actor.hero .tab.attributes.active {
  display: flex;
  justify-content: space-between;
}
.artichron.sheet.actor.hero section.equipped {
  flex: 1;
}
.artichron.sheet.actor.hero .equipped-items .backdrop {
  position: absolute;
  background-repeat: no-repeat;
  background-size: auto 100%;
  opacity: 0.25;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position-y: center;
  background-position-x: center;
}
.artichron.sheet.actor.hero .equipped-items {
  position: relative;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100%;
  overflow: hidden overlay;
  flex-direction: column;
  min-height: 650px;
}
.artichron.sheet.actor.hero .equipped-items .equipped {
  position: absolute;
}
.artichron.sheet.actor.hero .equipped-items .equipped img {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 5em;
  transition: 150ms;
  cursor: pointer;
}
.artichron.sheet.actor.hero .equipped-items .equipped .edit {
  background: #b5b8f9;
  border-radius: 5px;
  color: black;
  padding: 3px;
}
.artichron.sheet.actor.hero .equipped-items .equipped:hover .edit {
  display: block;
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon.disabled {
  pointer-events: none;
  filter: grayscale(30%) opacity(70%);
}
.artichron.sheet.actor.hero .equipped-items:has(.equipped.weapon.main:hover) .second.disabled img {
  border-radius: 1.5em;
  scale: 1.1;
}
.artichron.sheet.actor.hero .equipped-items .equipped.empty img {
  filter: grayscale(100%) opacity(25%);
}
.artichron.sheet.actor.hero .equipped-items .equipped.empty:hover img {
  filter: grayscale(100%) opacity(50%);
  border-radius: 1.5em;
}
.artichron.sheet.actor.hero .equipped-items .equipped:hover img {
  border-radius: 0.5em;
  filter: drop-shadow(0 0 5px var(--color-shadow-primary));
  scale: 1.1;
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon,
.artichron.sheet.actor.hero .equipped-items .equipped.arms,
.artichron.sheet.actor.hero .equipped-items .equipped.accessory {
  right: var(--equipment-margin);
}
.artichron.sheet.actor.hero .equipped-items .equipped.head,
.artichron.sheet.actor.hero .equipped-items .equipped.chest,
.artichron.sheet.actor.hero .equipped-items .equipped.legs,
.artichron.sheet.actor.hero .equipped-items .equipped.boots {
  left: var(--equipment-margin);
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon.main,
.artichron.sheet.actor.hero .equipped-items .equipped.head {
  top: 50px;
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon.second,
.artichron.sheet.actor.hero .equipped-items .equipped.chest {
  top: 200px;
}
.artichron.sheet.actor.hero .equipped-items .equipped.arms,
.artichron.sheet.actor.hero .equipped-items .equipped.legs {
  top: 350px;
}
.artichron.sheet.actor.hero .equipped-items .equipped.boots,
.artichron.sheet.actor.hero .equipped-items .equipped.accessory {
  top: 500px;
}
/* Inventory */
.artichron.sheet .inventory-section,
.artichron.sheet .effects-section {
  max-height: 600px;
  overflow: hidden auto;
}
.artichron.sheet .inventory-section .inventory-item,
.artichron.sheet .effects-section .effects-item {
  border-bottom: 2px groove;
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
  color: #474747;
}
.artichron.sheet .inventory-section .inventory-item:nth-child(odd),
.artichron.sheet .effects-section .effects-item:nth-child(odd) {
  background-color: #d35ee21f;
}
.artichron.sheet .inventory-section .inventory-item .item-name,
.artichron.sheet .effects-section .effects-item .item-name {
  font-size: 14px;
  font-family: "Bruno Ace";
  padding: 2px 0;
}
.artichron.sheet .inventory-section .inventory-item .item-controls,
.artichron.sheet .effects-section .effects-item .item-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}
.artichron.sheet .inventory-section .inventory-item .item-controls .item-control,
.artichron.sheet .effects-section .effects-item .item-controls .item-control {}
