/* --------------------------- */
/*          CONSTANTS          */
/* --------------------------- */
:root {
  --mana-filter: sepia(1) hue-rotate(180deg) drop-shadow(0 0 1px blue);
  --health-filter: sepia(1) hue-rotate(270deg) drop-shadow(0 0 1px red);
  --stamina-filter: sepia(1) hue-rotate(90deg) drop-shadow(0 0 1px green);
  --equipment-margin: 25px;
  --artichron-theme-bright: rgb(222, 225, 255);
  --artichron-pool-die-size: 100px;
  --artichron-font-primary: "Bruno Ace";
  --artichron-font-labels: "Amiri";

  --artichron-color-light-blue: rgba(196, 196, 255, 0.9);
  --artichron-color-blue: rgba(0, 0, 255, 0.6);
  --artichron-color-blue-dark: rgba(0, 0, 255, 0.2);
  --artichron-color-white: rgba(204, 204, 204, 0.9);
  --artichron-color-black: rgb(0, 0, 0);
  --artichron-color-black-45: rgba(0, 0, 0, 0.45);
  --artichron-color-gold: #9f9275;
}

/* --------------------------- */
/*     System-wide styling.    */
/* --------------------------- */

multi-select .tags.chosen {
  flex-wrap: wrap;

  .tag {
    white-space: nowrap;
    margin: 0 3px;
    padding: 1px 3px;
    border: 1px solid var(--artichron-color-white);
  }
}

.chat-message.message {
  background: none;
  color: var(--artichron-color-white);

  .message-header {
    color: inherit;
  }
}

/* --------------------------- */
/*        UI components.       */
/* --------------------------- */

.gold-button {
  background: var(--artichron-color-black);
  color: var(--artichron-color-gold);
  position: relative;
  border-radius: 4px;
  transition: all 250ms ease;
  border: none;
  margin: 0;
  box-shadow: 0 0 6px var(--artichron-color-black-45);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  &::after {
    position: absolute;
    inset: 3px;
    border: 1px solid var(--artichron-color-gold);
    content: "";
    border-radius: 3px;
  }

  &:hover {
    box-shadow: 0 0 6px var(--artichron-color-gold);
  }

  &:disabled {
    opacity: 0.3;
    cursor: initial;
    box-shadow: none;
  }

  > .fa-solid {
    margin: 0;
  }

  & img {
    border: none;
  }
}

.artichron.app, .artichron.application {
  &.opacity {
    transition: opacity 250ms;
    &:not(:hover) { opacity: 0.1; }
    .header-button.control.opacity i::before { content: "\f204"; }
  }
  .header-button.control.opacity i::before { content: "\f205"; }
  &:has(form.edit-mode) .header-button.control.sheet-mode i::before { content: "\f4ff"; }
  &:has(form.play-mode) .header-button.control.sheet-mode i::before { content: "\f502"; }
}
