/* ---------------------------------------- */
/*            System-wide styling           */
/* ---------------------------------------- */

* {
  scrollbar-color: hsl(from var(--artichron-color-blue) h s l / 0.6) #000000;
}

.application.artichron fieldset legend:has(button) {
  display: flex;
  align-items: center;
  gap: 4px;

  & button {
    --button-border-color: transparent;
    --button-hover-border-color: transparent;
    --button-hover-background-color: transparent;
    --button-hover-text-color: var(--button-text-color);
    background-color: transparent;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

span.chron {
  width: 1rem;
  aspect-ratio: 1;
  display: inline-block;
  background: url("/systems/artichron/assets/icons/chron.svg") transparent no-repeat center / contain;
  vertical-align: text-bottom;
}

#context-menu.artichron {
  width: 200px;

  .context-group:not(:last-child) {
    border-bottom: 1px dotted gray;
  }
}

dialog:-internal-dialog-in-top-layer::backdrop {
  background: rgba(0, 0, 0, 0.25);
}

.sheet fieldset legend {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sheet .controls {
  flex: none;

  & button.control {
    margin: 0;
    flex: none;

    .fa-solid {
      margin: 0;
      padding: 0;
    }
  }
}

/* ---------------------------------------- */

.application {
  max-height: 100vh;
}

/* System application backdrops */
.application.artichron .window-content,
#tooltip.item-tooltip > *,
.locked-tooltip.item-tooltip > *,
.artichron-backdrop {
  position: relative;

  /* Application backdrops */
  &::before, &::after {
    background-repeat: no-repeat;
    background-blend-mode: unset;
    background-size: 100%;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -2;
  }

  &::before {
    background-image:url(/systems/artichron/assets/layout/backdrop-1-top.webp);
    background-position: center top;
    top: 0;
  }

  &::after {
    background-image:url(/systems/artichron/assets/layout/backdrop-1-bottom.webp);
    background-position: center bottom;
    bottom: 0;
  }
}

/* -------------------------------------------------- */

/* General application styling */
.application.artichron {
  .window-content {
    & input:not([type=checkbox]), select {
      &:disabled {
        background: none;
        border: none;
      }
      &:not(:disabled, [type=range]) {
        background: rgba(48, 40, 49, 0.75);
      }
    }

    & fieldset {
      border-width: 1px;
      border-color: hsl(from var(--artichron-color-border-blue) h s l / 0.5);
    }
  }

  .label-top {
    flex-direction: column;
    align-items: stretch;
    gap: 0;

    > * { flex: unset; }
    > label {
      text-transform: uppercase;
      font-size: var(--font-size-10);
      font-weight: bold;
      line-height: 1;
      text-align: center;
      margin-bottom: 0.1rem;
    }

    & input[type=number], select[data-dtype=Number] { text-align: center; }
  }

  /* Hide empty labels in form groups. */
  .form-group label:empty {
    display: none;
  }

  /* Fixes to prosemirror */
  .editor.prosemirror.inactive .editor-content,
  .editor.prosemirror.active .editor-container {
    overflow: hidden auto;
  }
}

/* -------------------------------------------------- */

.application.artichron .drop-target-area {
  min-height: 300px;
  border-radius: 5px;
  border: 1px dashed var(--artichron-color-gold);
  margin: 1rem;

  &.dragover {
    border-style: solid;
  }
}

/* -------------------------------------------------- */

/* Tables */
.application.artichron table thead {
  background: linear-gradient(3deg, hsl(from var(--artichron-color-purple) h s l / 0.4), transparent 70%);
  border: none;
  border-bottom: 2px solid hsl(from var(--artichron-color-purple) h s l / 0.5);
}

/* -------------------------------------------------- */

/* Content links */
.artichron .content-link {
  padding: unset;
  margin: unset;
  white-space: unset;
  word-break: unset;
  background: unset;
  border: none;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--artichron-color-gold);
}
