/* ---------------------------------------- */
/*                Constants                 */
/* ---------------------------------------- */
:root {
  --mana-filter: sepia(1) hue-rotate(180deg) drop-shadow(0 0 1px blue);
  --health-filter: sepia(1) hue-rotate(270deg) drop-shadow(0 0 1px red);
  --stamina-filter: sepia(1) hue-rotate(90deg) drop-shadow(0 0 1px green);
  --artichron-theme-bright: rgb(222, 225, 255);
  --artichron-pool-die-size: 100px;
  --artichron-font-primary: "Bruno Ace";
  --artichron-font-labels: "Amiri";

  --artichron-color-light-blue: rgba(196, 196, 255, 0.9);
  --artichron-color-blue: rgba(0, 0, 255, 0.6);
  --artichron-color-blue-dark: rgba(0, 0, 255, 0.2);
  --artichron-color-white: rgba(204, 204, 204, 0.9);
  --artichron-color-black: rgb(0, 0, 0);
  --artichron-color-black-45: rgba(0, 0, 0, 0.45);
  --artichron-color-gold: #9f9275;

  --artichron-effect-source-flex: 0 0 100px;
  --artichron-effect-controls-flex: 0 0 50px;
  --artichron-item-property-flex: 0 0 60px;
  --artichron-inventory-controls-flex: 0 0 60px;
}

/* ---------------------------------------- */
/*            System-wide styling           */
/* ---------------------------------------- */

.application button {
  transition: background-color 0.25s, border-color 0.25s;
}

.artichron.application .form-footer {
  margin-top: 1em;
}

#context-menu.artichron {
  width: 200px;
}

/* ---------------------------------------- */
/*              UI components               */
/* ---------------------------------------- */

.gold-button {
  background: var(--artichron-color-black);
  color: var(--artichron-color-gold);
  position: relative;
  border-radius: 4px;
  transition: all 250ms ease;
  border: none;
  margin: 0;
  box-shadow: 0 0 6px var(--artichron-color-black-45);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  &::after {
    position: absolute;
    inset: 3px;
    border: 1px solid var(--artichron-color-gold);
    content: "";
    border-radius: 3px;
  }

  &:hover {
    box-shadow: 0 0 6px var(--artichron-color-gold);
  }

  &:disabled {
    opacity: 0.3;
    cursor: initial;
    box-shadow: none;
  }

  > .fa-solid {
    margin: 0;
  }

  & img {
    border: none;
  }
}
