.artichron.sheet.item {
  min-width: 400px;
  min-height: 400px;
}
.artichron.sheet.item .action {
  float: right;
  flex: none;
  padding-left: 5px;
  color: gray;
}
.artichron.sheet.item fieldset legend.header {
  font-family: 'Modesto Condensed';
  font-size: 24px;
}
.artichron.sheet.item .form-group.dice-combo input,
.artichron.sheet.item .form-group.dice-combo select {
  flex: 1;
}
.artichron.sheet.item .form-group label:first-child {
  flex: 0 0 40%;
}
