.artichron.sheet.item {
  min-width: 400px;
  min-height: 400px;
}
.artichron.sheet.item .action {
  float: right;
  flex: none;
  padding-left: 5px;
  color: gray;
}
.artichron.sheet.item fieldset legend.header {
  font-family: 'Modesto Condensed';
  font-size: 24px;
}
