/* Damage Rolls */
.artichron.damage-rolls {
  display: flex;
  position: relative;
  flex-direction: column;

  .dice-roll {
    position: relative;

    .fa-solid {
      position: absolute;
      opacity: 0.5;
      left: 0;
      padding: 5px;
    }
  }

  [data-action="apply-damage"] {
    width: 100%;
    margin: 3px 0 7px 0;
  }

  .targets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .target {
      width: calc(100% / 5);
      gap: 5px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      & img {
        border: none;
        width: calc(100% - 10px);
      }
      .name {
        font-size: 12px;
        border: 1px solid black;
        border-radius: 3px;
        width: calc(100% - 4px);
        background: rgba(0, 0, 0, 0.6);
        color: rgba(200, 200, 200, 1);
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

.system-artichron .artichron {
  .die, .roll {
    min-width: 24px;
    line-height: 24px;
    margin-right: 1px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    font-size: var(--font-size-16);
    font-weight: bold;
    text-align: center;
    background-image: url(../../../icons/svg/d6-grey.svg);

    &.max, &.mana {
      filter: var(--mana-filter);
    }

    &.min, &.health {
      filter: var(--health-filter);
    }

    &.stamina {
      filter: var(--stamina-filter);
    }

    &.d2 {
      background-image: url(../../../icons/svg/coins.svg);
    }
    &.d4 {
      background-image: url(../../../icons/svg/d4-grey.svg);
    }
    &.d3, &.d6 {
      background-image: url(../../../icons/svg/d6-grey.svg);
    }
    &.d8 {
      background-image: url(../../../icons/svg/d8-grey.svg);
    }
    &.d5, &.d10 {
      background-image: url(../../../icons/svg/d10-grey.svg);
    }
    &.d12 {
      background-image: url(../../../icons/svg/d12-grey.svg);
    }
    &.d20 {
      background-image: url(../../../icons/svg/d20-grey.svg);
    }
  }
}
