.artichron.application.sheet.actor {
  .tab[data-tab] {
    min-height: 400px;
  }

  .tab[data-tab=attributes].active {
    display: flex;

    .left-pane {
      position: relative;
      min-width: 70px;
      width: 70px;

      .health {
        place-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        & input {
          width: calc(100% - 8px);
          text-align: center;
          margin: 0 4px;
        }
      }

      .health-bar {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: linear-gradient(90deg, rgba(130, 0, 0, 0.6) 0%, rgba(198, 0, 0, 0.5) 81%, rgba(255, 0, 0, 0.4) 100%);
      }

      .control {
        position: absolute;
        top: 0;
        right: 0;
        padding: 4px;
      }
    }

    .center-pane {
      flex: 1;

      & section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 5px 0;

        [data-action=toggleConfig] {
          position: absolute;
          top: 0;
          right: 0;
          padding: 4px;
          font-size: 12px;
          z-index: 1;
        }
      }

      .skills {
        [data-action=rollSkill] {
          flex: 1;
          font-size: 45px;
          text-align: center;
        }
      }

      .pools {
        [data-action=rollPool] {
          font-size: 45px;
          flex: 1;
          background-repeat: no-repeat;
          text-align: center;
          background-position: center;
          background-size: contain;
          padding: 1rem 0;
          background-image: url(../../../icons/svg/d4-grey.svg);
          &.d6 { background-image: url(../../../icons/svg/d6-grey.svg); }

          &.health {
            filter: var(--health-filter);
          }
          &.stamina {
            filter: var(--stamina-filter);
          }
          &.mana {
            filter: var(--mana-filter);
          }
        }
      }

      .resistances {
        .resistance {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;
          height: 50px;
          justify-content: space-between;

          .total { font-size: 22px; }
          .fa-solid {
            place-content: end;
          }
          & input {
            text-align: center;
            width: calc(100% - 6px);
          }
        }
      }

      .favorites {
        flex-wrap: wrap;
        justify-content: flex-start;

        .favorite {
          flex: 0 0 47px;
          cursor: pointer;
        }
      }
    }
  }

  .tab[data-tab=equipment].active {
    display: flex;
    justify-content: space-between;
    gap: 3em;

    .left, .center, .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 2em;

      &.center { flex: 2; }
      &.left, &.right {
        gap: 4em;
      }

      [data-equipment-slot] {
        position: relative;

        .controls {
          opacity: 0;
          position: absolute;
          top: 0;
          right: 0;
          transition: opacity 200ms;

          .control { padding: 4px; }
        }

        &:hover .controls { opacity: 1; }
      }
    }
  }

  .encumbrance {
    position: relative;
    min-height: 22px;
    border-radius: 10px;
    border: 2px var(--artichron-color-gold) inset;
    text-align: center;
    overflow: hidden;
    margin-top: 5px;

    .values {
      z-index: 1;
    }

    .bar {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: -1;
      background: linear-gradient(
        90deg,
        rgb(240 160 0 / 38%) 0%,
        rgb(240 160 0 / 55%) 15%,
        rgb(240 160 0 / 74%) 85%,
        rgb(240 160 0 / 17%) 95%,
        rgb(240 160 0 / 0%) 100%
      );
    }
  }
}
