.artichron.application.sheet.item {
  max-height: 90%;

  /* temp fix */
  .controls-dropdown {
    z-index: 1;
  }

  .tab.scrollable {
    padding-top: 3px;
    padding-bottom: 3px;



    &[data-tab=description] {}

    &[data-tab=details] {
      .usage {
        & input {
          transition: outline-color 0.5s, flex 300ms;
          flex: 1;
          min-width: 2rem;
        }

        &:has(input:focus) input:not(:focus) {
          flex: 0;
        }
      }

      .damage .type {
        flex: 0;
        width: fit-content;
      }

      .controls {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 0;
      }
    }

    &[data-tab=effects] {
      gap: 5px;
      flex-direction: column;

      &.active { display: flex; }

      .effect {
        height: 3rem;
        display: flex;
        border: 1px solid gray;
        border-radius: 3px;
        align-items: center;

        .wrapper {
          height: 100%;
          flex: 1;
          display: flex;
          align-items: center;

          .image {
            height: 100%;
            border: none;
            margin-right: 5px;
          }

          .name {
            pointer-events: none;
          }
        }

        .source {
          flex: 0 0 100px;
          text-align: center;
        }

        .controls {
          flex: 0 0 50px;
          display: flex;
          justify-content: space-around;
        }
      }

      [data-action=createEffect] {}
    }
  }
}
