.artichron.application.sheet.actor {
  .tab[data-tab] {
    min-height: 400px;
  }

  .tab[data-tab=attributes].active {
    display: flex;
    min-height: 600px;
    gap: 1rem;

    .left-pane {
      width: 5rem;
      display: flex;
      flex-direction: column-reverse;
      overflow: hidden;

      .health {
        position: relative;
        place-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding-left: 0;
        padding-right: 0;

        & input {
          width: calc(100% - 2px);
          text-align: center;
        }

        .health-bar {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: var(--health-bar-top);
          z-index: -1;
          background: linear-gradient(90deg, rgba(130, 0, 0, 0.6) 0%, rgba(198, 0, 0, 0.5) 81%, rgba(255, 0, 0, 0.4) 100%);
        }

        .control {
          position: absolute;
          top: 0;
          right: 0;
          padding: 4px;
        }
      }

      .pools {
        align-items: center;
        position: relative;

        .pool {
          font-size: 20px;
          display: flex;
          width: 100%;
          aspect-ratio: 1/1;
          justify-content: center;
          align-items: center;
          color: black;
          background-repeat: no-repeat;
          text-align: center;
          background-position: center;
          background-size: contain;
          background-image: url(../../../icons/svg/d4-grey.svg);
          &.d6 { background-image: url(../../../icons/svg/d6-grey.svg); }

          .label {
            width: 2rem;
            line-height: 2rem;
          }

          &.health {
            filter: var(--health-filter);
          }
          &.stamina {
            filter: var(--stamina-filter);
          }
          &.mana {
            filter: var(--mana-filter);
          }
        }

        .edit {
          position: absolute;
          top: 4px;
          right: 4px;
        }
      }
    }

    .center-pane {
      flex: 1;

      & fieldset {
        position: relative;

        [data-action=toggleConfig] {
          position: absolute;
          top: 0;
          right: 0;
          padding: 4px;
          font-size: 12px;
          z-index: 1;
        }
      }

      .skills {
        --border-var: 1px solid rgba(128, 128, 128, 0.5);
        --color-mind: rgba(100, 200, 150, 0.15);
        --color-body: rgba(255, 255, 100, 0.15);
        --color-soul: rgba(255, 100, 255, 0.15);

        [data-group] {
          display: flex;
          flex-direction: column;
          border: var(--border-var);
          border-radius: inherit;

          &[data-group=mind] { background-color: var(--color-mind); }
          &[data-group=body] { background-color: var(--color-body); }
          &[data-group=soul] { background-color: var(--color-soul); }

          .skill {
            font-size: 0.85rem;
            font-family: "Amiri";
            padding: 0;
            line-height: 1.5rem;
            display: flex;
            border-bottom: var(--border-var);
            align-items: center;
            &:last-child { border: none; }

            .label {
              padding-left: 0.5rem;
              border-right: var(--border-var);
              flex: 0 0 35%;
            }

            .pips {
              display: grid;
              grid-template-columns: repeat(10, 1fr);
              flex: 1;
              margin: 0 4px;
              align-items: center;
              gap: 3px;
              overflow: hidden;

              .pip {
                width: 1rem;
                height: 1rem;
                border-radius: 0%;
                background-color: rgba(62, 197, 190, 0.336);
                border-style: outset;
                border-width: 1px;
                border-color: rgb(54, 106, 204);
                transform: matrix(1, 0, 1, -1, 0, 0) translateX(-0.5rem);
              }
            }

            .level {
              text-align: center;
              flex: 0 0 3rem;
              border-left: var(--border-var);
            }
          }
        }
      }

      .resistances {
        flex-direction: row;
        gap: 1px;

        .resistance {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;
          height: 50px;
          justify-content: space-between;
          opacity: 0.3;
          padding-bottom: 4px;

          &.active {
            opacity: 1;
          }

          .total { font-size: 22px; }
          .fa-solid {
            place-content: end;
            margin: 0;
            padding: 0;
            margin-top: 4px;
          }
          & input {
            text-align: center;
            width: calc(100% - 6px);
            transition: width 300ms ease;

            &:focus { width: 10rem; }
          }
        }
      }

      .favorites {
        flex-direction: row;
        flex-wrap: wrap;
        --gap: 4px;
        gap: var(--gap);
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        .favorite {
          border: 1px solid var(--artichron-color-gold);
          border-radius: 3px;
          overflow: hidden;
          aspect-ratio: 1/1;

          & img {
            border: none;
            border-radius: inherit;
          }
        }
      }
    }
  }

  .tab[data-tab=equipment].active {

    & section.arsenal, section.armor {
      display: flex;

      [data-equipment-slot] {

        .controls {
          display: flex;
          height: 0;
          transition: height 200ms;
          overflow: hidden;

          .control {
            padding: 4px;
            margin: 0;
            flex: 1;
            text-align: center;
            .fa-solid { padding: 0; margin: 0; }
          }
        }

        &:hover .controls { height: 20px; }
      }
    }
  }

  .encumbrance {
    position: relative;
    min-height: 22px;
    border-radius: 10px;
    border: 2px var(--artichron-color-gold) inset;
    text-align: center;
    overflow: hidden;
    margin-top: 5px;

    .values {
      z-index: 1;
    }

    .bar {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: -1;
      border-radius: 5px;
      background: linear-gradient(
        90deg,
        rgb(240 160 0 / 50%) 0%,
        rgb(240 160 0 / 70%) 15%,
        rgb(240 160 0 / 70%) 98%,
        rgb(240 160 0 / 0%) 100%
      )
    }
  }
}

dialog.skill .form-footer {
  flex-direction: column;
}

.artichron.application.sheet.merchant {
  height: 90%;

  .window-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    [data-application-part=staged] {
      display: grid;
      grid-template-rows: 1fr 2fr;

      .avatar {
        flex: 0 0 300px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .stage-area {
        margin-right: 0 !important;
      }
    }
  }
}
