.artichron.sheet.item {
  min-width: 400px;
  min-height: 400px;

  .action {
    float: right;
    flex: none;
    padding-left: 5px;
  }

  & fieldset legend.header {
    font-size: 20px;
  }

  & fieldset {
    max-height: 600px;
    overflow: hidden auto;

    & legend.header { font-size: 20px; }
    & select { flex: 0; }
  }

  .form-group {
    & label { flex: 1; }
  }

  & form {
    & section.description { min-height: 400px; }
  }
}
