.artichron.application.sheet.effect {
  .tab[data-tab=changes] {
    [data-action=addChange] {
      min-height: 30px;
      height: 30px;
    }

    .changes {
      gap: 1rem;
      display: flex;
      flex-direction: column;
    }
  }
}
