/* ------------------ */
/*     HERO SHEETS    */
/* ------------------ */
.artichron.sheet.actor.hero .header-fields {
  display: flex;
}
.artichron.sheet.actor.hero .header-fields input {
  height: 2em;
  font-size: 25px;
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 25px;
  border: 4px groove var(--artichron-label);
  border-left-width: 40px;
  border-right-width: 40px;
  transition: 200ms;
  margin: 0 1em;
}
.artichron.sheet.actor.hero .header-fields input:focus {
  margin: 0 0.25em;
  box-shadow: none;
  border-left-width: 4px;
  border-right-width: 4px;
}
.artichron.sheet.actor.hero .tab.equipment.active {
  display: flex;
  flex-direction: column;
}
.artichron.sheet.actor.hero section.equipped {
  flex: 1;
}
.artichron.sheet.actor.hero .equipped-items .backdrop {
  background-size: auto 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.artichron.sheet.actor.hero .equipped-items .backdrop.image {
  background-repeat: no-repeat;
  opacity: 0.5;
  background-position-y: center;
  background-position-x: center;
  transition: filter 200ms;
}
.artichron.sheet.actor.hero .equipped-items:has([data-manage=img]:hover) .backdrop.image {
  filter: drop-shadow(0 0 5px var(--artichron-theme-dark));
}
.artichron.sheet.actor.hero .equipped-items [data-manage=img] {
  top: 0;
  bottom: 0;
  display: block;
  left: calc(100px + var(--equipment-margin));
  right: calc(100px + var(--equipment-margin));
  cursor: pointer;
  padding: 0;
  margin: 10px;
}
.artichron.sheet.actor.hero .equipped-items .backdrop.border {
  border: 5px groove var(--artichron-theme-dark);
  margin: 5px 1px;
  border-radius: 10px;
  filter: blur(1px);
}
.artichron.sheet.actor.hero .equipped-items {
  position: relative;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100%;
  overflow: hidden overlay;
  flex-direction: column;
  min-height: calc(400px + 8 * var(--equipment-margin));
}
.artichron.sheet.actor.hero .equipped-items .equipped {
  position: absolute;
}
.artichron.sheet.actor.hero .equipped-items .equipped-item,
.artichron.sheet.actor.hero .equipped-items .equipped img {
  height: 100px;
  width: 100px;
}
.artichron.sheet.actor.hero .equipped-items .equipped img {
  border: none;
  border-radius: 50px;
  transition: 150ms;
  cursor: pointer;
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon.disabled {
  pointer-events: none;
  filter: grayscale(30%) opacity(70%);
}
.artichron.sheet.actor.hero .equipped-items:has(.equipped.weapon.main:hover) .second.disabled img {
  border-radius: 15px;
  scale: 1.1;
}
.artichron.sheet.actor.hero .equipped-items .equipped.empty img {
  filter: grayscale(100%) opacity(25%);
}
.artichron.sheet.actor.hero .equipped-items .equipped.empty:hover img {
  filter: grayscale(100%) opacity(50%);
  border-radius: 15px;
}
.artichron.sheet.actor.hero .equipped-items .equipped:hover img {
  border-radius: 10px;
  scale: 1.1;
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon,
.artichron.sheet.actor.hero .equipped-items .equipped.arms,
.artichron.sheet.actor.hero .equipped-items .equipped.accessory {
  right: var(--equipment-margin);
}
.artichron.sheet.actor.hero .equipped-items .equipped.head,
.artichron.sheet.actor.hero .equipped-items .equipped.chest,
.artichron.sheet.actor.hero .equipped-items .equipped.legs,
.artichron.sheet.actor.hero .equipped-items .equipped.boots {
  left: var(--equipment-margin);
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon.main,
.artichron.sheet.actor.hero .equipped-items .equipped.head {
  top: var(--equipment-margin);
}
.artichron.sheet.actor.hero .equipped-items .equipped.weapon.second,
.artichron.sheet.actor.hero .equipped-items .equipped.chest {
  top: calc(100px + 3 * var(--equipment-margin));
}
.artichron.sheet.actor.hero .equipped-items .equipped.arms,
.artichron.sheet.actor.hero .equipped-items .equipped.legs {
  top: calc(200px + 5 * var(--equipment-margin));
}
.artichron.sheet.actor.hero .equipped-items .equipped.boots,
.artichron.sheet.actor.hero .equipped-items .equipped.accessory {
  top: calc(300px + 7 * var(--equipment-margin));
}
.artichron.sheet.actor.hero .equipped-items .equipped:hover .expand-out {
  width: 215px;
}
.artichron.sheet.actor.hero .equipped-items .equipped .expand-out {
  position: absolute;
  top: -5px;
  bottom: -5px;
  width: 0;
  transition: 200ms;
  border-radius: 10px;
  overflow: hidden auto;
}
.artichron.sheet.actor.hero .equipped-items .equipped .expand-out .controls {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-around;
  min-width: 195px;
}
.artichron.sheet.actor.hero .equipped-items .head .expand-out,
.artichron.sheet.actor.hero .equipped-items .chest .expand-out,
.artichron.sheet.actor.hero .equipped-items .legs .expand-out,
.artichron.sheet.actor.hero .equipped-items .boots .expand-out {
  left: calc(100% + 10px);
}
.artichron.sheet.actor.hero .equipped-items .main .expand-out,
.artichron.sheet.actor.hero .equipped-items .second .expand-out,
.artichron.sheet.actor.hero .equipped-items .arms .expand-out,
.artichron.sheet.actor.hero .equipped-items .accessory .expand-out {
  right: calc(100% + 10px);
}
.artichron.sheet.actor.hero .equipped-items .expand-out .content {
  margin: 5px 10px;
  width: 195px;
}
.artichron.sheet.actor.hero section.favorites {}
.artichron.sheet.actor.hero section.favorites .favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3px;
  column-gap: 3px;
  padding: 3px;
  min-height: 100px;
}
.artichron.sheet.actor.hero section.favorites .favorites::after {
  content: "";
  flex: auto;
  flex-basis: inherit;
}
.artichron.sheet.actor.hero .favorites .favorite {
  cursor: pointer;
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  border-radius: 10px;
  overflow: hidden;
}
.artichron.sheet.actor.hero .favorites .favorite img {
  border: none;
}
.artichron.sheet.actor.hero section.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 40px;
  align-items: center;
}
.artichron.sheet.actor.hero section.controls .control {
  font-size: 18px;
  border: 2px outset;
  padding: 4px;
  transition: border-style 2000ms;
}
.artichron.sheet.actor.hero section.controls .control:active {
  border: 2px inset;
}
