.artichron.application.sheet {
  max-height: 90%;

  /* Opacity control */
  &.opacity:not(.maximizing, .minimized, .minimizing) {
    transition: opacity 250ms;
    &:not(:hover) { opacity: 0.1; }
  }
  [data-action=toggleOpacity] .fa-solid::before { content: "\f06e"; }
  &.opacity [data-action=toggleOpacity] .fa-solid::before { content: "\f2a8"; }

  /* Transition control */
  .no-transition, .no-transition * {
    transition: none !important;
  }

  .header {
    height: 64px;
    gap: 8px;
    display: flex;
    align-items: center;

    .avatar {
      flex: 0 0 64px;
      height: 100%;
    }

    .controls {
      flex: 0 0 24px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  [data-tab=description], [data-tab=details] {
    .description {
      min-height: 300px;
      height: 300px;
    }
  }

  /* Tab headers */
  .tab.scrollable header {
    display: flex;
    position: sticky;
    top: 0;
    margin: 4px 0;
    height: 20px;
    line-height: 20px;
    min-height: 20px;
  }

  [data-tab=inventory] > .tab.scrollable,
  .tab.scrollable[data-tab=effects] {
    flex-direction: column;
    gap: 5px;

    &.active { display: flex; }

    .effect, .item {
      display: flex;
      border: 1px solid gray;
      border-radius: 4px;
      align-items: center;
      flex-wrap: wrap;

      .wrapper {
        height: calc(3rem - 2px);
        flex: 1;
        display: flex;
        align-items: center;

        .image {
          height: 100%;
          border: none;
          margin-right: 5px;
        }

        .name {
          pointer-events: none;
        }
      }

      .property {
        flex: var(--artichron-item-property-flex);
        text-align: center;
        font-size: 10px;

        &.source {
          flex: var(--artichron-effect-source-flex);
          font-size: 13px;
        }

        &.fusion {
          font-size: unset;
        }

        .counter, .origin {
          display: flex;
          align-items: center;
          gap: 3px;
          justify-content: center;

          &.origin { font-size: 13px; }

          & input, .max {
            margin: 0;
            padding: 0;
            flex: 1;
            font-size: 10px;
            height: 100%;
            background: unset;
          }
        }

        .label {
          color: var(--artichron-color-gold);
        }
      }

      .controls {
        display: flex;
        justify-content: space-around;
      }

      [data-action=undoFusion] {
        position: relative;

        .fa-solid {
          transition: opacity 500ms ease;

          &.fa-recycle { opacity: 0; }
          &.fa-volcano { opacity: 1; position: absolute; }
        }
        &:hover .fa-solid {
          &.fa-recycle { opacity: 1; }
          &.fa-volcano { opacity: 0; }
        }
      }

      .description-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        flex: 0 0 100%;
        overflow: hidden auto;
        transition: grid-template-rows 300ms ease, margin 300ms ease;
        padding: 0 5px;

        .description {
          overflow: hidden auto;
          font-size: 12px;
          max-height: 200px;
        }
      }
      &.expanded .description-wrapper {
        grid-template-rows: 1fr;
        margin-top: 5px;
      }
    }

    & header {
      .name { flex: 1; }

      .source { flex: var(--artichron-effect-source-flex); text-align: center; }

      .properties { flex: var(--artichron-item-properties-flex); text-align: center; }
    }

    .effect label.name.stacked {
      display: flex;
      flex-direction: column;

      .title {
        padding-left: 3px;
      }

      .subtitle {
        color: var(--artichron-color-gold);
        font-size: 10px;
        padding-left: 6px;
      }
    }
  }

  [data-tab=inventory] {
    &.active {
      display: flex;
      overflow: hidden;
      flex-direction: column;
    }

    .tab.scrollable.active header {
      position: sticky;
      top: 0;
    }

    .controls { flex: var(--artichron-inventory-controls-flex); }
  }

  [data-tab=effects] {
    .controls { flex: var(--artichron-effect-controls-flex); }
  }
}

/* ---------------------------------------- */
/*         Token HUD status effects         */
/* ---------------------------------------- */

#token-hud .status-effects {
  column-gap: 0.5em;
  color: var(--color-text-light-1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;

  height: 400px;
  top: -100px;
  width: unset;

  .status-column {
    overflow: hidden auto;
    min-width: max-content;

    .status-effect {
      height: 30px;
      display: flex;
      align-items: center;
      gap: 3px;

      .img { border: none; height: 30px; opacity: 0.15; }
      .name { opacity: 0.4; }

      &.active { color: yellowgreen; opacity: 1; & > * { opacity: 1; } }
      &.overlay { color: deepskyblue; opacity: 1; & > * { opacity: 1; } }
    }
  }
}
