:root {
  /* COLORS */
  --artichron-color-black-45: rgba(0, 0, 0, 0.45);
  --artichron-color-black: rgb(0, 0, 0);
  --artichron-color-blue-light: rgb(121, 121, 245);
  --artichron-color-blue: rgb(0, 0, 255);
  --artichron-color-bordeaux: rgb(76, 2, 18);
  --artichron-color-cotton: rgb(231, 209, 177);
  --artichron-color-gold: rgb(159, 146, 117);
  --artichron-color-green: rgb(0, 255, 0);
  --artichron-color-orange: rgb(215, 114, 42);
  --artichron-color-pink: rgb(255, 97, 144);
  --artichron-color-purple: rgb(135, 0, 207);
  --artichron-color-red: rgb(255, 0, 0);
  --artichron-color-redwine: rgb(125, 0, 50);
  --artichron-color-tan: rgb(219, 147, 112);
  --artichron-color-umber: rgb(110, 84, 60);
  --artichron-color-white: rgba(204, 204, 204);

  /* POOLS */
  --artichron-color-pool-health: var(--artichron-color-red);
  --artichron-color-pool-stamina: var(--artichron-color-green);
  --artichron-color-pool-mana: var(--artichron-color-blue);

  /* DISPOSITION */
  --artichron-color-enemy: var(--artichron-color-pink);
  --artichron-color-ally: var(--artichron-color-blue-light);

  /* SHADING */
  --artichron-header-background-gradient: linear-gradient(3deg, hsl(from var(--artichron-color-purple) h s l / 0.4), transparent 70%);
  --artichron-header-border: 2px solid hsl(from var(--artichron-color-purple) h s l / 0.5);

  /* SKILLS */
  --artichron-color-skill-agility: var(--artichron-color-orange);
  --artichron-color-skill-brawn: var(--artichron-color-tan);
  --artichron-color-skill-mind: var(--artichron-color-umber);
  --artichron-color-skill-spirit: var(--artichron-color-purple);

  /* HEALTH */
  --artichron-color-health-low: hsl(from var(--artichron-color-redwine) h s 10);
  --artichron-color-health-mid: hsl(from var(--artichron-color-redwine) h s 20);
  --artichron-color-health-high: hsl(from var(--artichron-color-redwine) h s 30);

  /* ENCUMBRANCE */
  --artichron-color-encumbrance-low: hsl(from var(--artichron-color-orange) h s 10);
  --artichron-color-encumbrance-mid: hsl(from var(--artichron-color-orange) h s 20);
  --artichron-color-encumbrance-high: hsl(from var(--artichron-color-orange) h s 30);

  /* UI */
  --artichron-color-border: var(--artichron-color-blue-light);
  --artichron-color-quotes: var(--artichron-color-cotton);
}

/* OVERRIDES */
.artichron :is(button, .button) {
  &:hover:not([disabled]) {
    --button-hover-background-color: hsl(from var(--artichron-color-purple) h s l / 0.5);
    --button-hover-border-color: hsl(from var(--artichron-color-purple) h s l / 0.7);
  }

  --button-focus-outline-color: none;
}

body {
  /* FONTS */
  --artichron-font-header: Roboto, sans-serif;
  --artichron-font-raleway: "Raleway";
  --font-body: var(--artichron-font-raleway);
}
