:root {
  --mana-filter: sepia(1) hue-rotate(180deg) drop-shadow(0 0 1px blue);
  --health-filter: sepia(1) hue-rotate(270deg) drop-shadow(0 0 1px red);
  --stamina-filter: sepia(1) hue-rotate(90deg) drop-shadow(0 0 1px green);
  --artichron-theme-bright: rgb(222, 225, 255);
  --artichron-pool-die-size: 100px;
  --artichron-font-primary: "Bruno Ace";
  --artichron-font-labels: "Amiri";

  --artichron-color-border-blue: rgb(79, 79, 206);
  --artichron-color-blue-light: rgb(121, 121, 245);
  --artichron-color-blue: rgb(0, 0, 255);
  --artichron-color-blue-dark: rgb(0, 0, 255);
  --artichron-color-white: rgba(204, 204, 204, 0.9);
  --artichron-color-black: rgb(0, 0, 0);
  --artichron-color-black-45: rgba(0, 0, 0, 0.45);
  --artichron-color-gold: #9f9275;
  --artichron-color-purple: #bb52f5;

  --artichron-color-enemy: rgba(255, 97, 144, 0.699);
  --artichron-color-ally: rgba(98, 98, 255, 0.788);

  --artichron-effect-source-flex: 0 0 100px;
  --artichron-effect-controls-flex: 0 0 50px;
  --artichron-item-property-flex: 0 0 60px;
  --artichron-inventory-controls-flex: 0 0 60px;
}

/* OVERRIDES */
.artichron.application :is(button, .button) {
  --button-hover-background-color: hsl(from var(--artichron-color-purple) h s l / 0.5);
  --button-hover-border-color: hsl(from var(--artichron-color-purple) h s l / 0.7);
  --button-focus-outline-color: none;
}
