:root {
  --mana-filter: sepia(1) hue-rotate(180deg) drop-shadow(0 0 1px blue);
  --health-filter: sepia(1) hue-rotate(270deg) drop-shadow(0 0 1px red);
  --stamina-filter: sepia(1) hue-rotate(90deg) drop-shadow(0 0 1px green);
  --artichron-theme-bright: rgb(222, 225, 255);
  --artichron-pool-die-size: 100px;

  /* COLORS */
  --artichron-color-border-blue: rgb(79, 79, 206);
  --artichron-color-blue-light: rgb(121, 121, 245);
  --artichron-color-blue: rgb(0, 0, 255);
  --artichron-color-blue-dark: rgb(0, 0, 255);
  --artichron-color-white: rgba(204, 204, 204, 0.9);
  --artichron-color-black: rgb(0, 0, 0);
  --artichron-color-black-45: rgba(0, 0, 0, 0.45);
  --artichron-color-gold: #9f9275;
  --artichron-color-purple: #bb52f5;
  --artichron-color-quotes: #e7d1b1;

  --artichron-color-enemy: rgba(255, 97, 144, 0.699);
  --artichron-color-ally: rgba(98, 98, 255, 0.788);

  /* SHADING */
  --artichron-header-background-gradient: linear-gradient(3deg, hsl(from var(--artichron-color-purple) h s l / 0.4), transparent 70%);
  --artichron-header-border: 2px solid hsl(from var(--artichron-color-purple) h s l / 0.5);
}

/* OVERRIDES */
.artichron :is(button, .button) {
  &:hover:not([disabled]) {
    --button-hover-background-color: hsl(from var(--artichron-color-purple) h s l / 0.5);
    --button-hover-border-color: hsl(from var(--artichron-color-purple) h s l / 0.7);
  }

  --button-focus-outline-color: none;
}

body {
  /* FONTS */
  --artichron-font-header: Roboto, sans-serif;
  --artichron-font-raleway: "Raleway";
  --font-body: var(--artichron-font-raleway);
}
