@keyframes scan {
  0% { background-position: center calc(10% + 0px); }
  50% { background-position: center calc(50% + 0px); }
  100% { background-position: center calc(10% + 0px); }
}

#recovery-phase {
  width: 100% !important;
  height: 95%;

  [data-application-part=members] {
    --member-width: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 1rem;

    .member {
      flex: 0 0 var(--member-width);
      height: 75px;
      background-image: var(--img);
      background-size: cover;

      &.assigned {
        filter: grayscale(1);
      }
    }
  }

  [data-application-part=tasks] {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;

    .task {
      flex: 1;
      display: grid;
      grid-template-rows: 1fr 0fr;
      padding: 0;

      .assigned {
        display: grid;
        gap: .5rem;

        .assignee {
          background-image: var(--img);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center calc(10% + 0px);
          position: relative;

          &:hover {
            animation: scan 10s ease-in-out infinite;
          }

          [data-action=unassign] {
            display: none;
            position: absolute;
            top: 10px;
            right: 10px;

            .assignee:hover & {
              display: block;
            }
          }
        }
      }

      .task-details {
        margin: 1rem;
      }
    }
  }
}
