/* All chat message styling */
.chat-message.artichron {
  /* SPEAKER AVATAR AND NAME */
  .message-sender {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: .5rem;

    .avatar {
      img {
        border-radius: 50%;
        cursor: var(--cursor-pointer);
        object-fit: cover;
        object-position: top;
        aspect-ratio: 1;
      }
    }

    .title {
      font-size: 20px;
    }
  }

  .item-details {
    display: grid;
    grid-template-rows: 0fr 0fr;
    transition: grid-template-rows 200ms ease;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;

    &.expanded:has(.description) {
      grid-template-rows: 0fr 1fr;
    }

    .item-header {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0.5rem;
      cursor: var(--cursor-pointer);

      .icon {
        width: 40px;
        margin-right: 1em;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
        aspect-ratio: 1;
      }

      .details {
        margin: auto 0;
        display: flex;
        flex-direction: column;

        .title {}

        .subtitle {
          font-size: 10px;
        }
      }
    }

    .description {
      overflow: hidden;
      margin: 0 0.5rem;
      border-top: 1px dashed rgba(128, 128, 128, 0.459);
      border-bottom: 1px dashed rgba(128, 128, 128, 0.459);
    }
  }

  /* ROLLS */
  .wrapper {
    display: grid;
    grid-template-rows: 0fr 0fr;
    transition: grid-template-rows 200ms ease;
    user-select: none;

    &.expanded {
      grid-template-rows: 0fr 1fr;
    }

    &:nth-child(2) { margin-top: 1rem; }

    .toggle {
      height: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3px;
      white-space: nowrap;
      cursor: var(--cursor-pointer);

      &::before, &::after {
        content: "";
        flex-basis: 50%;
        border-top: 1px dotted gray;
        align-self: center;
      }
    }

    .rolls {
      overflow: hidden;
      gap: 2px;
      display: flex;
      flex-direction: column;

      .roll .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        gap: 4px;
        font-size: 20px;
        flex-wrap: wrap;

        .icon {
          height: 30px;
          margin: 5px;
        }
        .formula {
          flex: 1;

          .multiplier {
            font-size: 12px;
          }
        }
        .total {
          text-align: center;
          width: 40px;
          white-space: nowrap;
        }

        .pills {
          width: 100%;
          display: flex;
          gap: 4px;
          margin-bottom: 4px;

          &:empty {
            display: none;
          }

          .pill {
            font-size: 10px;
            color: gray;
            padding: 2px 4px;
            border: 1px solid gray;
            border-radius: 5px;
          }
        }
      }
    }

    .header {
      height: 30px;
      align-items: center;
      cursor: var(--cursor-pointer);
      text-align: center;
      line-height: 28px;
      font-size: 24px;
      border: 1px solid gray;
      border-radius: 5px;
    }

    .rolls {

      .roll {
        border-bottom: 1px solid rgba(50, 50, 50, 0.5);

        .bottom {
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          padding: 4px;
          border-top: 1px dashed rgba(50, 50, 50, 0.25);

          .die {
            position: relative;
            width: 24px;
            height: 24px;
            float: left;
            margin-right: 1px;
            background-image: url(/icons/svg/d6-grey.svg);
            background-repeat: no-repeat;
            background-size: 24px 24px;
            font-size: var(--font-size-16);
            color: #000;
            font-weight: bold;
            text-align: center;
            line-height: 24px;

            &.min {
              color: #b12a18;
              filter: sepia(0.5) hue-rotate(60deg);
            }
            &.max {
              color: #18520b;
              filter: sepia(0.5) hue-rotate(60deg);
            }

            &.d4 { background-image: url(/icons/svg/d4-grey.svg); }
            &.d8 { background-image: url(/icons/svg/d8-grey.svg); }
            &.d10 { background-image: url(/icons/svg/d10-grey.svg); }
            &.d12 { background-image: url(/icons/svg/d12-grey.svg); }
            &.d20 { background-image: url(/icons/svg/d20-grey.svg); }
          }
        }
      }
    }
  }

  /* TOKEN TARGETS */
  .targeting {
    display: grid;
    grid-template-rows: 0fr 0fr;
    transition: grid-template-rows 200ms ease;

    &.expanded:has(.target-element) {
      grid-template-rows: 0fr 1fr;
    }
    &.expanded .section-header .fa-solid::before {
      content: "\f078";
    }

    .section-header {
      user-select: none;
      margin-bottom: .5rem;

      .fa-solid::before {
        content: "\f077";
      }
    }

    .token-application {
      overflow: hidden;

      controlled-tokens-list {
        display: grid;

        .target-element {
          display: grid;
          grid-template-columns: 2rem 1fr;
          align-items: center;
          padding: 2px;
          margin: 4px;
          gap: .5rem;
          position: relative;

          &.damage { grid-template-columns: 2rem 1fr 0fr; }
          &.effect { grid-template-columns: 2rem 1fr 0fr; }
          &.healing { grid-template-columns: 2rem 1fr 0fr; }

          img {
            cursor: var(--cursor-pointer);

            .damage .damaged &,
            .effect .unchecked &,
            .healing .healed & {
              opacity: 0.5;
            }
          }

          .title {
            .damage .damaged &,
            .effect .unchecked &,
            .healing .healed & {
              text-decoration: line-through;
            }
          }

          /* DAMAGE DELTA */
          .damage-delta {
            white-space: nowrap;

            &.damage {
              color: red;
              &::before {
                content: "-";
              }
            }

            &.healing {
              color: green;
              &::before {
                content: "+";
              }
            }
          }
        }

        + [data-action=applyDamage],
        + [data-action=applyEffects],
        + [data-action=applyHealing] {
          width: 100%;
        }
      }
    }
  }

  /* RECOVERY */
  &.recovery {
    .recovery-controls {
      display: flex;
      gap: 0.5rem;

      button {
        flex: 1;
      }
    }

    a[disabled] {
      color: gray;
    }
  }
}
