<div class="progression-prompt-test standard-form">

  <fieldset>
    <div class="form-group">
      <div class="form-fields">
        <div class="allocated" data-path="fighter">
          <span>Fighter</span>
          <p class="hint">39</p>
        </div>
        <div class="current-path">
          <span>Fighter</span>
          <p class="hint">Current Path</p>
        </div>
        <div class="allocated" data-path="cleric">
          <span>Cleric</span>
          <p class="hint">12</p>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="points">
    <legend>Points</legend>
    <div class="form-group">
      <div class="form-fields up-down">
        <a>
          <i class="fa-solid fa-fw fa-chevron-up"></i>
        </a>
        <input type="number" value="76">
        <a>
          <i class="fa-solid fa-fw fa-chevron-down"></i>
        </a>
      </div>
      <p class="hint">
        You have <strong>85</strong> points available to allocate to a path.
      </p>
    </div>
  </fieldset>

  <fieldset class="assign">
    <legend>Path</legend>
    <div class="form-group stacked">

      <div class="form-fields">

        <label class="checkbox">
          <input type="checkbox" name="target">
          <img src="icons/weapons/axes/axe-double-white-red.webp" alt="Fighter">
          <span>Fighter</span>
        </label>

        <label class="checkbox">
          <input type="checkbox" name="target">
          <img src="icons/magic/holy/barrier-shield-winged-cross.webp" alt="Cleric">
          <span>Cleric</span>
        </label>

      </div>
    </div>
  </fieldset>

</div>
